# INF1340 Midterm Project

## Table 1 -  International migrant stock at mid-year by sex and by major area, region, country or area, 1990-2015

In [404]:
# Load table 1 and annex table from UN_MigrantStockTotal_2015.xlsx
file = "/Users/ashleymona/Desktop/MIS1/INF1340/UN_MigrantStockTotal_2015.xlsx"
MigrantStockTotal_table1 = pd.read_excel(file, sheet_name = 'Table 1', header = 14, usecols="A:W")
annex = pd.read_excel(file, sheet_name = 'ANNEX', header = 14, usecols = 'A:L')


# Drop the useless columns -- sort order, notes
table1 = MigrantStockTotal_table1.drop(['Sort\norder','Notes'], axis = 1)


# Assign the new column names based on the gender and year (b - both sexes, f - female, m - male)
table1 = table1.drop([0])
table1_columns = ('Country','Country Code', 'Data type',
           'b1990','b1995','b2000','b2005', 'b2010','b2015',
           'm1990','m1995','m2000','m2005','m2010','m2015',
           'f1990','f1995','f2000','f2005','f2010','f2015')
table1.columns = table1_columns


# Remove the major area and region rows 
table1 = table1.drop(table1[table1['Country Code'] >= 900].index)

# Assign the major area, region, developed, least developed, and Sub-Saharan Africa columns from annex table
# based on the equal country name
major_area = [] 
region = [] 
developed = [] 
least_dev = [] 
sub_africa = []
for i in range (len(table1)):
    for j in range(len(annex)):
        if table1['Country'].values[i] == annex['Country or area'].values[j]:
            major_area.append(annex['Major area'].values[i])
            region.append(annex['Region'].values[i])
            developed.append(annex['Developed region'].values[i])
            least_dev.append(annex['Least developed country'].values[i])
            sub_africa.append(annex['Sub-Saharan Africa'].values[i])

table1 = table1.assign(Major_area = major_area, 
                       Region = region, 
                       Developed_region = developed,
                       Least_developed_country = least_dev,
                       Sub_Saharan_Africa = sub_africa)


# Change the contry code to integer value
table1['Country Code'] = table1['Country Code'].astype(int)

# Assign gender and population as two new column
# in order to let column names to be informative, variable names and not values
table1 = table1.melt(id_vars = ['Country', 'Country Code', 'Data type','Major_area','Region', 'Developed_region','Least_developed_country','Sub_Saharan_Africa'], 
                     var_name = 'gender',value_name = 'international migrant')

# Seperate gender and year to column variables
table1 = (table1.assign(
        Gender = lambda x: x.gender.str[0].astype(str),
        Year = lambda x: x.gender.str[1:].astype(str)).drop('gender', axis = 1))

# Replace the character of gender into a clear word
table1 = table1.replace(to_replace = ['b','m','f'], value = ['Both sexes', 'Male', 'Female'])

# Relocate the column order
table1 = table1.iloc[:,[0,1,2,9,10,8,3,4,5,6,7]]

# Set the country code as the index of the dataframe
table1 = table1.set_index(['Country Code'])

# Result of internation migrant stock table without spliting by year
table1.head(10)

,Country,Data type,Gender,Year,international migrant,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,1990,333110,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,1990,14079,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,1990,122221,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,1990,11848,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,1990,1155390,Europe,Southern Europe,Yes,No,No
404,Kenya,B R,Both sexes,1990,297292,Africa,Middle Africa,No,Yes,Yes
450,Madagascar,C,Both sexes,1990,23917,Latin America and the Caribbean,Caribbean,No,No,No
454,Malawi,B R,Both sexes,1990,1127724,Latin America and the Caribbean,Caribbean,No,No,No
480,Mauritius,C,Both sexes,1990,3613,Latin America and the Caribbean,South America,No,No,No
175,Mayotte,B,Both sexes,1990,15229,Asia,Western Asia,No,No,No

### Table1.1 - international migrant stock in 1990

In [442]:
# Split year 1990 international migrant stock from the table 1 data
table1_1990 = table1[table1['Year'].astype(int) == 1990]
table1_1990.head(5)

,Country,Data type,Gender,Year,international migrant,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,1990,333110,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,1990,14079,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,1990,122221,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,1990,11848,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,1990,1155390,Europe,Southern Europe,Yes,No,No

### Table1.2 - international migrant stock in 1995

In [443]:
# Split year 1995 international migrant stock data from table 1 data
table1_1995 = table1[table1['Year'].astype(int) == 1995]
table1_1995.head(5)

,Country,Data type,Gender,Year,international migrant,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,1995,254853,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,1995,13939,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,1995,99774,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,1995,12400,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,1995,806904,Europe,Southern Europe,Yes,No,No

### Table1.3 - international migrant stock in 2000

In [444]:
# Split year 2000 international migrant stock data from table 1 data
table1_2000 = table1[table1['Year'].astype(int) == 2000]
table1_2000.head(5)

,Country,Data type,Gender,Year,international migrant,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2000,125628,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2000,13799,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2000,100507,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2000,12952,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2000,611384,Europe,Southern Europe,Yes,No,No

### Table1.4 - international migrant stock in 2005

In [445]:
# Split year 2005 international migrant stock data from table 1 data
table1_2005 = table1[table1['Year'].astype(int) == 2005]
table1_2005.head(5)

,Country,Data type,Gender,Year,international migrant,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2005,172874,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2005,13209,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2005,92091,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2005,14314,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2005,514242,Europe,Southern Europe,Yes,No,No

### Table1.5 - international migrant stock in 2010

In [446]:
# Split year 2010 international migrant stock data from table 1 data
table1_2010 = table1[table1['Year'].astype(int) == 2010]
table1_2010.head(5)

,Country,Data type,Gender,Year,international migrant,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2010,235259,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2010,12618,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2010,101575,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2010,15676,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2010,567720,Europe,Southern Europe,Yes,No,No

### Table1.6 - international migrant stock in 2015

In [447]:
# Split year 2010 international migrant stock data from table 1 data
table1_2015 = table1[table1['Year'].astype(int) == 2015]
table1_2015.head(5)

,Country,Data type,Gender,Year,international migrant,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2015,286810,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2015,12555,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2015,112351,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2015,15941,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2015,1072949,Europe,Southern Europe,Yes,No,No

## Table 2 -  Total population at mid-year by sex and by major area, region, country or area, 1990-2015 (thousands)

In [411]:
# Load table 1 and annex table from UN_MigrantStockTotal_2015.xlsx
file = "/Users/ashleymona/Desktop/MIS1/INF1340/UN_MigrantStockTotal_2015.xlsx"
MigrantStockTotal_table2 = pd.read_excel(file, sheet_name = 'Table 2', header = 14, usecols="A:V")
annex = pd.read_excel(file, sheet_name = 'ANNEX', header = 14, usecols = 'A:L')

# Drop the useless variables from the table2 columns -- sort order, notes
table2 = MigrantStockTotal_table2.drop(['Sort\norder','Notes'], axis = 1)

# Assign new coloumn names
table2 = table2.drop([0])
table2_columns = ('Country','Country Code', 
           'b1990','b1995','b2000','b2005', 'b2010','b2015',
           'm1990','m1995','m2000','m2005','m2010','m2015',
           'f1990','f1995','f2000','f2005','f2010','f2015')

table2.columns = table2_columns

# Remove the major area and region rows 
table2 = table2.drop(table2[table2['Country Code'] >= 900].index)

# Assign the major area, region, developed, least developed, and Sub-Saharan Africa columns from annex table
# based on the equal country name
major_area = [] 
region = [] 
developed = [] 
least_dev = [] 
sub_africa = []
for i in range (len(table2)):
    for j in range(len(annex)):
        if table2['Country'].values[i] == annex['Country or area'].values[j]:
            major_area.append(annex['Major area'].values[i])
            region.append(annex['Region'].values[i])
            developed.append(annex['Developed region'].values[i])
            least_dev.append(annex['Least developed country'].values[i])
            sub_africa.append(annex['Sub-Saharan Africa'].values[i])
table2 = table2.assign(Major_area = major_area, 
                       Region = region, 
                       Developed_region = developed,
                       Least_developed_country = least_dev,
                       Sub_Saharan_Africa = sub_africa)

# Change the country code values to integer
table2['Country Code'] = table2['Country Code'].astype(int)

# Assign gender and population as two new column
# in order to let column names to be informative, variable names and not values
table2 = table2.melt(id_vars = ['Country', 'Country Code', 'Major_area','Region', 'Developed_region','Least_developed_country','Sub_Saharan_Africa'], 
                     var_name = 'gender',value_name = 'population' )

# Seperate the year from gender variable
table2 = (table2.assign(
        Gender = lambda x: x.gender.str[0].astype(str),
        Year = lambda x: x.gender.str[1:].astype(str)).drop('gender', axis = 1))

# Replace the gender acronyms to word
table2 = table2.replace(to_replace = ['b','m','f'], value = ['Both sexes', 'Male', 'Female'])

# Relocate the column 
table2 = table2.iloc[:,[0,1,8,9,7,2,3,4,5,6]]

# Set country code as new index
table2 = table2.set_index(['Country Code'])
table2

,Country,Gender,Year,population,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,Both sexes,1990,5613.141,Asia,Southern Asia,No,Yes,No
174,Comoros,Both sexes,1990,415.144,Europe,Southern Europe,Yes,No,No
262,Djibouti,Both sexes,1990,588.356,Africa,Northern Africa,No,No,No
232,Eritrea,Both sexes,1990,3139.083,Oceania,Polynesia,No,No,No
231,Ethiopia,Both sexes,1990,48057.094,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...
882,Samoa,Female,2015,93.584,Oceania,Polynesia,No,No,No
772,Tokelau,Female,2015,..,Africa,Northern Africa,No,No,No
776,Tonga,Female,2015,52.931,Asia,Western Asia,No,Yes,No
798,Tuvalu,Female,2015,..,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,Female,2015,..,Africa,Eastern Africa,No,No,Yes

### Table 2.1 - population in 1990

In [412]:
# Create a new datafram that include the data from table2 with year equal to 1990
table2_1990 = table2[table2['Year'] == '1990']
table2_1990

,Country,Gender,Year,population,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,Both sexes,1990,5613.141,Asia,Southern Asia,No,Yes,No
174,Comoros,Both sexes,1990,415.144,Europe,Southern Europe,Yes,No,No
262,Djibouti,Both sexes,1990,588.356,Africa,Northern Africa,No,No,No
232,Eritrea,Both sexes,1990,3139.083,Oceania,Polynesia,No,No,No
231,Ethiopia,Both sexes,1990,48057.094,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...
882,Samoa,Female,1990,77.856,Oceania,Polynesia,No,No,No
772,Tokelau,Female,1990,..,Africa,Northern Africa,No,No,No
776,Tonga,Female,1990,46.905,Asia,Western Asia,No,Yes,No
798,Tuvalu,Female,1990,..,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,Female,1990,..,Africa,Eastern Africa,No,No,Yes

### Table 2.2 - population in 1995

In [413]:
# Create a new datafram that include the data from table2 with year equal to 1995
table2_1995 = table2[table2['Year'] == '1995']
table2_1995

,Country,Gender,Year,population,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,Both sexes,1995,6239.03,Asia,Southern Asia,No,Yes,No
174,Comoros,Both sexes,1995,479.574,Europe,Southern Europe,Yes,No,No
262,Djibouti,Both sexes,1995,661.076,Africa,Northern Africa,No,No,No
232,Eritrea,Both sexes,1995,3164.095,Oceania,Polynesia,No,No,No
231,Ethiopia,Both sexes,1995,57237.226,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...
882,Samoa,Female,1995,81.67,Oceania,Polynesia,No,No,No
772,Tokelau,Female,1995,..,Africa,Northern Africa,No,No,No
776,Tonga,Female,1995,47.275,Asia,Western Asia,No,Yes,No
798,Tuvalu,Female,1995,..,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,Female,1995,..,Africa,Eastern Africa,No,No,Yes

### Table 2.3 - population in 2000

In [414]:
# Create a new datafram that include the data from table2 with year equal to 2000
table2_2000 = table2[table2['Year'] == '2000']
table2_2000

,Country,Gender,Year,population,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,Both sexes,2000,6767.073,Asia,Southern Asia,No,Yes,No
174,Comoros,Both sexes,2000,547.696,Europe,Southern Europe,Yes,No,No
262,Djibouti,Both sexes,2000,722.562,Africa,Northern Africa,No,No,No
232,Eritrea,Both sexes,2000,3535.156,Oceania,Polynesia,No,No,No
231,Ethiopia,Both sexes,2000,66443.603,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...
882,Samoa,Female,2000,83.682,Oceania,Polynesia,No,No,No
772,Tokelau,Female,2000,..,Africa,Northern Africa,No,No,No
776,Tonga,Female,2000,48.11,Asia,Western Asia,No,Yes,No
798,Tuvalu,Female,2000,..,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,Female,2000,..,Africa,Eastern Africa,No,No,Yes

### Table 2.4 - population in 2005

In [415]:
# Create a new datafram that include the data from table2 with year equal to 2005
table2_2005 = table2[table2['Year'] == '2005']
table2_2005

,Country,Gender,Year,population,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,Both sexes,2005,7934.213,Asia,Southern Asia,No,Yes,No
174,Comoros,Both sexes,2005,618.632,Europe,Southern Europe,Yes,No,No
262,Djibouti,Both sexes,2005,778.406,Africa,Northern Africa,No,No,No
232,Eritrea,Both sexes,2005,4191.273,Oceania,Polynesia,No,No,No
231,Ethiopia,Both sexes,2005,76608.431,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...
882,Samoa,Female,2005,86.743,Oceania,Polynesia,No,No,No
772,Tokelau,Female,2005,..,Africa,Northern Africa,No,No,No
776,Tonga,Female,2005,50.284,Asia,Western Asia,No,Yes,No
798,Tuvalu,Female,2005,..,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,Female,2005,..,Africa,Eastern Africa,No,No,Yes

### Table 2.5 - population in 2010

In [416]:
# Create a new datafram that include the data from table2 with year equal to 2010
table2_2010 = table2[table2['Year'] == '2010']
table2_2010

,Country,Gender,Year,population,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,Both sexes,2010,9461.117,Asia,Southern Asia,No,Yes,No
174,Comoros,Both sexes,2010,698.695,Europe,Southern Europe,Yes,No,No
262,Djibouti,Both sexes,2010,830.802,Africa,Northern Africa,No,No,No
232,Eritrea,Both sexes,2010,4689.664,Oceania,Polynesia,No,No,No
231,Ethiopia,Both sexes,2010,87561.814,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...
882,Samoa,Female,2010,90.079,Oceania,Polynesia,No,No,No
772,Tokelau,Female,2010,..,Africa,Northern Africa,No,No,No
776,Tonga,Female,2010,51.892,Asia,Western Asia,No,Yes,No
798,Tuvalu,Female,2010,..,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,Female,2010,..,Africa,Eastern Africa,No,No,Yes

### Table 2.6 - population in 2015

In [417]:
# Create a new datafram that include the data from table2 with year equal to 2015
table2_2015 = table2[table2['Year'] == '2015']
table2_2015

,Country,Gender,Year,population,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,Both sexes,2015,11178.921,Asia,Southern Asia,No,Yes,No
174,Comoros,Both sexes,2015,788.474,Europe,Southern Europe,Yes,No,No
262,Djibouti,Both sexes,2015,887.861,Africa,Northern Africa,No,No,No
232,Eritrea,Both sexes,2015,5227.791,Oceania,Polynesia,No,No,No
231,Ethiopia,Both sexes,2015,99390.75,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...
882,Samoa,Female,2015,93.584,Oceania,Polynesia,No,No,No
772,Tokelau,Female,2015,..,Africa,Northern Africa,No,No,No
776,Tonga,Female,2015,52.931,Asia,Western Asia,No,Yes,No
798,Tuvalu,Female,2015,..,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,Female,2015,..,Africa,Eastern Africa,No,No,Yes

## Table 3 - International migrant stock as a percentage of the total population by sex and by major area, region, country or area, 1990-2015

In [418]:
import pandas as pd
file = "/Users/ashleymona/Desktop/MIS1/INF1340/UN_MigrantStockTotal_2015.xlsx"
MigrantStockTotal_table3 = pd.read_excel(file, sheet_name = 'Table 3', header = 14, usecols="A:W")
table3 = MigrantStockTotal_table3.drop(['Sort\norder','Notes'], axis = 1)
table3 = table3.drop([0])
table3_columns = ('Country','Country Code', 'Data type',
           'b1990','b1995','b2000','b2005', 'b2010','b2015',
           'm1990','m1995','m2000','m2005','m2010','m2015',
           'f1990','f1995','f2000','f2005','f2010','f2015')
table3.columns = table3_columns
table3 = table3.drop(table3[table3['Country Code'] >= 900].index)

# Assign the major area, region, developed, least developed, and Sub-Saharan Africa columns from annex table
# based on the equal country name
major_area = [] 
region = [] 
developed = [] 
least_dev = [] 
sub_africa = []
for i in range (len(table3)):
    for j in range(len(annex)):
        if table3['Country'].values[i] == annex['Country or area'].values[j]:
            major_area.append(annex['Major area'].values[i])
            region.append(annex['Region'].values[i])
            developed.append(annex['Developed region'].values[i])
            least_dev.append(annex['Least developed country'].values[i])
            sub_africa.append(annex['Sub-Saharan Africa'].values[i])

table3 = table3.assign(Major_area = major_area, 
                       Region = region, 
                       Developed_region = developed,
                       Least_developed_country = least_dev,
                       Sub_Saharan_Africa = sub_africa)

# Change the country code values to integer
table3['Country Code'] = table3['Country Code'].astype(int)

# Assign gender and international migrant proportion as two new column
# in order to let column names to be informative, variable names and not values
table3 = table3.melt(id_vars = ['Country', 'Country Code', 'Data type','Major_area','Region', 'Developed_region','Least_developed_country','Sub_Saharan_Africa'], 
                     var_name = 'gender',value_name = 'international migrant proportion')

# Seperate the year from gender variable
table3 = (table3.assign(
        Gender = lambda x: x.gender.str[0].astype(str),
        Year = lambda x: x.gender.str[1:].astype(str)).drop('gender', axis = 1))

# Replace the gender acronyms to word
table3 = table3.replace(to_replace = ['b','m','f'], value = ['Both sexes', 'Male', 'Female'])

# Relocate the column order
table3 = table3.iloc[:,[0,1,2,9,10,8,3,4,5,6,7]]

# Set country code as new index
table3 = table3.set_index(['Country Code'])
table3

,Country,Data type,Gender,Year,international migrant proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,1990,5.934467,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,1990,3.391353,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,1990,20.773307,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,1990,0.377435,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,1990,2.404203,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...
882,Samoa,B,Female,2015,2.628654,Oceania,Polynesia,No,No,No
772,Tokelau,B,Female,2015,..,Africa,Northern Africa,No,No,No
776,Tonga,B,Female,2015,4.919612,Asia,Western Asia,No,Yes,No
798,Tuvalu,C,Female,2015,..,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,B,Female,2015,..,Africa,Eastern Africa,No,No,Yes

### Table 3.1 -  international migrant proportion 1990

In [419]:
table3_1990 = table3[table3['Year'] == '1990']
table3_1990.head()

,Country,Data type,Gender,Year,international migrant proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,1990,5.934467,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,1990,3.391353,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,1990,20.773307,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,1990,0.377435,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,1990,2.404203,Europe,Southern Europe,Yes,No,No

### Table 3.2 -  international migrant proportion 1995

In [420]:
table3_1995 = table3[table3['Year'] == '1995']
table3_1995.head()

,Country,Data type,Gender,Year,international migrant proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,1995,4.084818,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,1995,2.906538,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,1995,15.092667,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,1995,0.391897,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,1995,1.409754,Europe,Southern Europe,Yes,No,No

### Table 3.3 -  international migrant proportion 2000

In [421]:
table3_2000 = table3[table3['Year'] == '2000']
table3_2000.head()

,Country,Data type,Gender,Year,international migrant proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2000,1.85646,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2000,2.519463,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2000,13.90981,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2000,0.366377,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2000,0.920155,Europe,Southern Europe,Yes,No,No

### Table 3.4 -  international migrant proportion 2005

In [422]:
table3_2005 = table3[table3['Year'] == '2005']
table3_2005.head()

,Country,Data type,Gender,Year,international migrant proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2005,2.178842,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2005,2.135195,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2005,11.830716,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2005,0.341519,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2005,0.67126,Europe,Southern Europe,Yes,No,No

### Table 3.5 -  international migrant proportion 2010

In [423]:
table3_2010 = table3[table3['Year'] == '2010']
table3_2010.head()

,Country,Data type,Gender,Year,international migrant proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2010,2.486588,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2010,1.805938,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2010,12.226138,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2010,0.334267,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2010,0.648365,Europe,Southern Europe,Yes,No,No

### Table 3.6 -  international migrant proportion 2015

In [424]:
table3_2015 = table3[table3['Year'] == '2015']
table3_2015.head()

,Country,Data type,Gender,Year,international migrant proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2015,2.565632,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2015,1.592316,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2015,12.65412,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2015,0.304928,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2015,1.079526,Europe,Southern Europe,Yes,No,No

## Table 4 - Female migrants as a percentage of the international migrant stock by major area, region, country or area, 1990-2015

In [425]:
import pandas as pd
file = "/Users/ashleymona/Desktop/MIS1/INF1340/UN_MigrantStockTotal_2015.xlsx"
MigrantStockTotal_table4 = pd.read_excel(file, sheet_name = 'Table 4', header = 14)
table4 = MigrantStockTotal_table4.drop(['Sort\norder','Notes'], axis = 1)
table4 = table4.drop([0])
table4_columns = ('Country','Country Code', 'Data type', '1990','1995','2000', '2005', '2010', '2015')
table4.columns = table4_columns

table4 = table4.drop(table4[table4['Country Code'] >= 900].index)

# Assign the major area, region, developed, least developed, and Sub-Saharan Africa columns from annex table
# based on the equal country name
major_area = [] 
region = [] 
developed = [] 
least_dev = [] 
sub_africa = []
for i in range (len(table4)):
    for j in range(len(annex)):
        if table4['Country'].values[i] == annex['Country or area'].values[j]:
            major_area.append(annex['Major area'].values[i])
            region.append(annex['Region'].values[i])
            developed.append(annex['Developed region'].values[i])
            least_dev.append(annex['Least developed country'].values[i])
            sub_africa.append(annex['Sub-Saharan Africa'].values[i])
table4 = table4.assign(Major_area = major_area, 
                       Region = region, 
                       Developed_region = developed,
                       Least_developed_country = least_dev,
                       Sub_Saharan_Africa = sub_africa)

# Change the country code values to integer
table4['Country Code'] = table4['Country Code'].astype(int)

# Assign gender and international migrant proportion as two new column
# in order to let column names to be informative, variable names and not values
table4 = table4.melt(id_vars = ['Country', 'Country Code', 'Data type','Major_area','Region', 'Developed_region','Least_developed_country','Sub_Saharan_Africa'], 
                     var_name = 'Year',value_name = 'Female migrants proportion')

# Relocate the column order
table4 = table4.iloc[:, [0,1,2,8,9,3,4,5,6,7]]

# Set country code as new index
table4 = table4.set_index(['Country Code'])

table4

,Country,Data type,Year,Female migrants proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,B R,1990,50.987061,Asia,Southern Asia,No,Yes,No
174,Comoros,B,1990,52.290646,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,1990,47.437838,Africa,Northern Africa,No,No,No
232,Eritrea,I,1990,47.434166,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,1990,47.439047,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...
882,Samoa,B,2015,49.908704,Oceania,Polynesia,No,No,No
772,Tokelau,B,2015,52.156057,Africa,Northern Africa,No,No,No
776,Tonga,B,2015,45.437096,Asia,Western Asia,No,Yes,No
798,Tuvalu,C,2015,44.680851,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,B,2015,49.52615,Africa,Eastern Africa,No,No,Yes

### Table 4.1 - Female migrants proportion 1990

In [426]:
table4_1990 = table4[table4['Year'] == '1990']
table4_1990.head()

,Country,Data type,Year,Female migrants proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,B R,1990,50.987061,Asia,Southern Asia,No,Yes,No
174,Comoros,B,1990,52.290646,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,1990,47.437838,Africa,Northern Africa,No,No,No
232,Eritrea,I,1990,47.434166,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,1990,47.439047,Europe,Southern Europe,Yes,No,No

### Table 4.2 - Female migrants proportion 1995

In [427]:
table4_1995 = table4[table4['Year'] == '1995']
table4_1995.head()

,Country,Data type,Year,Female migrants proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,B R,1995,51.279757,Asia,Southern Asia,No,Yes,No
174,Comoros,B,1995,52.550398,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,1995,47.405136,Africa,Northern Africa,No,No,No
232,Eritrea,I,1995,47.241935,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,1995,47.438977,Europe,Southern Europe,Yes,No,No

### Table 4.3 - Female migrants proportion 2000

In [428]:
table4_2000 = table4[table4['Year'] == '2000']
table4_2000.head()

,Country,Data type,Year,Female migrants proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,B R,2000,51.369122,Asia,Southern Asia,No,Yes,No
174,Comoros,B,2000,52.815421,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,2000,47.346951,Africa,Northern Africa,No,No,No
232,Eritrea,I,2000,47.06609,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,2000,47.296789,Europe,Southern Europe,Yes,No,No

### Table 4.4 - Female migrants proportion 2005

In [429]:
table4_2005 = table4[table4['Year'] == '2005']
table4_2005.head()

,Country,Data type,Year,Female migrants proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,B R,2005,50.94404,Asia,Southern Asia,No,Yes,No
174,Comoros,B,2005,52.411235,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,2005,44.277942,Africa,Northern Africa,No,No,No
232,Eritrea,I,2005,46.003912,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,2005,47.549014,Europe,Southern Europe,Yes,No,No

### Table 4.5 - Female migrants proportion 2010

In [430]:
table4_2010 = table4[table4['Year'] == '2010']
table4_2010.head()

,Country,Data type,Year,Female migrants proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,B R,2010,50.767877,Asia,Southern Asia,No,Yes,No
174,Comoros,B,2010,51.973371,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,2010,47.531381,Africa,Northern Africa,No,No,No
232,Eritrea,I,2010,45.119929,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,2010,47.591418,Europe,Southern Europe,Yes,No,No

### Table 4.6 - Female migrants proportion 2015

In [431]:
table4_2015 = table4[table4['Year'] == '2015']
table4_2015.head()

,Country,Data type,Year,Female migrants proportion,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,
108,Burundi,B R,2015,50.7301,Asia,Southern Asia,No,Yes,No
174,Comoros,B,2015,51.644763,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,2015,47.413908,Africa,Northern Africa,No,No,No
232,Eritrea,I,2015,44.589423,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,2015,49.013234,Europe,Southern Europe,Yes,No,No

## Table 5 - Annual rate of change of the migrant stock by sex and by major area, region, country or area, 1990-2015 (percentage)

In [432]:
import pandas as pd
file = "/Users/ashleymona/Desktop/MIS1/INF1340/UN_MigrantStockTotal_2015.xlsx"
MigrantStockTotal_table5 = pd.read_excel(file, sheet_name = 'Table 1', header = 14, usecols="A:T")
table5 = MigrantStockTotal_table5.drop(['Sort\norder','Notes'], axis = 1)
table5 = table5.drop([0])
table5_columns = ('Country','Country Code', 'Data type',
           'b1990-1995','b1995-2000','b2000-2005','b2005-2010', 'b2010-2015',
           'm1990-1995','m1995-2000','m2000-2005','m2005-2010','m2010-2015',
           'f1990-1995','f1995-2000','f2000-2005','f2005-2010','f2010-2015')
table5.columns = table5_columns
table5 = table5.drop(table5[table5['Country Code'] >= 900].index)

# Assign the major area, region, developed, least developed, and Sub-Saharan Africa columns from annex table
# based on the equal country name
major_area = [] 
region = [] 
developed = [] 
least_dev = [] 
sub_africa = []
for i in range (len(table5)):
    for j in range(len(annex)):
        if table5['Country'].values[i] == annex['Country or area'].values[j]:
            major_area.append(annex['Major area'].values[i])
            region.append(annex['Region'].values[i])
            developed.append(annex['Developed region'].values[i])
            least_dev.append(annex['Least developed country'].values[i])
            sub_africa.append(annex['Sub-Saharan Africa'].values[i])

table5 = table5.assign(Major_area = major_area, 
                       Region = region, 
                       Developed_region = developed,
                       Least_developed_country = least_dev,
                       Sub_Saharan_Africa = sub_africa)

table5['Country Code'] = table5['Country Code'].astype(int)
table5 = table5.melt(id_vars = ['Country', 'Country Code', 'Data type','Major_area','Region', 'Developed_region','Least_developed_country','Sub_Saharan_Africa'], 
                     var_name = 'gender',value_name = 'Migrant stock annual rate of change')

# Seperate the year from gender variable
table5 = (table5.assign(
        Gender = lambda x: x.gender.str[0].astype(str),
        Year = lambda x: x.gender.str[1:].astype(str)).drop('gender', axis = 1))

# Replace the gender acronyms to word
table5 = table5.replace(to_replace = ['b','m','f'], value = ['Both sexes', 'Male', 'Female'])

# Relocate the column order
table5 = table5.iloc[:,[0,1,2,9,10,8,3,4,5,6,7]]

# Set country code as new index
table5 = table5.set_index(['Country Code'])
table5

,Country,Data type,Gender,Year,Migrant stock annual rate of change,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,1990-1995,333110,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,1990-1995,14079,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,1990-1995,122221,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,1990-1995,11848,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,1990-1995,1155390,Europe,Southern Europe,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...
882,Samoa,B,Female,2010-2015,2897,Oceania,Polynesia,No,No,No
772,Tokelau,B,Female,2010-2015,118,Africa,Northern Africa,No,No,No
776,Tonga,B,Female,2010-2015,1703,Asia,Western Asia,No,Yes,No
798,Tuvalu,C,Female,2010-2015,96,Africa,Eastern Africa,No,Yes,Yes
876,Wallis and Futuna Islands,B,Female,2010-2015,997,Africa,Eastern Africa,No,No,Yes

### Table 5.1 - Migrant stock annual rate of change 1990-1995

In [433]:
table5_1990 = table5[table5['Year'] == '1990-1995']
table5_1990.head()

,Country,Data type,Gender,Year,Migrant stock annual rate of change,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,1990-1995,333110,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,1990-1995,14079,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,1990-1995,122221,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,1990-1995,11848,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,1990-1995,1155390,Europe,Southern Europe,Yes,No,No

### Table 5.2 - Migrant stock annual rate of change 1995-2000

In [434]:
table5_1995 = table5[table5['Year'] == '1995-2000']
table5_1995.head()

,Country,Data type,Gender,Year,Migrant stock annual rate of change,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,1995-2000,254853,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,1995-2000,13939,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,1995-2000,99774,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,1995-2000,12400,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,1995-2000,806904,Europe,Southern Europe,Yes,No,No

### Table 5.3 - Migrant stock annual rate of change 2000-2005

In [435]:
table5_2000 = table5[table5['Year'] == '2000-2005']
table5_2000.head()

,Country,Data type,Gender,Year,Migrant stock annual rate of change,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2000-2005,125628,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2000-2005,13799,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2000-2005,100507,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2000-2005,12952,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2000-2005,611384,Europe,Southern Europe,Yes,No,No

### Table 5.4 - Migrant stock annual rate of change 2005-2010

In [436]:
table5_2005 = table5[table5['Year'] == '2005-2010']
table5_2005.head()

,Country,Data type,Gender,Year,Migrant stock annual rate of change,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2005-2010,172874,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2005-2010,13209,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2005-2010,92091,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2005-2010,14314,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2005-2010,514242,Europe,Southern Europe,Yes,No,No

### Table 5.5 - Migrant stock annual rate of change 2010-2015

In [437]:
table5_2010 = table5[table5['Year'] == '2010-2015']
table5_2010.head()

,Country,Data type,Gender,Year,Migrant stock annual rate of change,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa
Country Code,,,,,,,,,,
108,Burundi,B R,Both sexes,2010-2015,235259,Asia,Southern Asia,No,Yes,No
174,Comoros,B,Both sexes,2010-2015,12618,Europe,Southern Europe,Yes,No,No
262,Djibouti,B R,Both sexes,2010-2015,101575,Africa,Northern Africa,No,No,No
232,Eritrea,I,Both sexes,2010-2015,15676,Oceania,Polynesia,No,No,No
231,Ethiopia,B R,Both sexes,2010-2015,567720,Europe,Southern Europe,Yes,No,No

## Table 6 - Estimated refugee stock at mid-year by major area, region, country or area, 1990-2015

In [438]:
# Load table 1 and annex table from UN_MigrantStockTotal_2015.xlsx
file = "/Users/ashleymona/Desktop/MIS1/INF1340/UN_MigrantStockTotal_2015.xlsx"
MigrantStockTotal_table6 = pd.read_excel(file, sheet_name = 'Table 6', header = 14, usecols="A:V")
annex = pd.read_excel(file, sheet_name = 'ANNEX', header = 14, usecols = 'A:L')


# Drop the useless columns -- sort order, notes
table6 = MigrantStockTotal_table6.drop(['Sort\norder','Notes'], axis = 1)


# Assign the new column names based on the gender and year (b - both sexes, f - female, m - male)
table6 = table6.drop([0])
table6_columns = ('Country','Country Code', 'Data type',
           '1990','1995','2000','2005', '2010','2015',
           '1990','1995','2000','2005','2010','2015',
           '1990-1995','1995-2000','2000-2005','2005-2010','2010-2015')
table6.columns = table6_columns


# Remove the major area and region rows 
table6 = table6.drop(table6[table6['Country Code'] >= 900].index)

# Assign the major area, region, developed, least developed, and Sub-Saharan Africa columns from annex table
# based on the equal country name
major_area = [] 
region = [] 
developed = [] 
least_dev = [] 
sub_africa = []
for i in range (len(table6)):
    for j in range(len(annex)):
        if table6['Country'].values[i] == annex['Country or area'].values[j]:
            major_area.append(annex['Major area'].values[i])
            region.append(annex['Region'].values[i])
            developed.append(annex['Developed region'].values[i])
            least_dev.append(annex['Least developed country'].values[i])
            sub_africa.append(annex['Sub-Saharan Africa'].values[i])

table6 = table6.assign(Major_area = major_area, 
                       Region = region, 
                       Developed_region = developed,
                       Least_developed_country = least_dev,
                       Sub_Saharan_Africa = sub_africa)


# Change the contry code to integer value
table6['Country Code'] = table6['Country Code'].astype(int)

### Table 6.1 - Estimated refugee stock at mid-year (both sexes)

In [439]:
# Seperate the estimated refugee stock at mid-year from the table 6
table6_e = table6.iloc[:,[0,1,2,3,4,5,6,7,8,20,21,22,23,24]]

# Assign Estimated refugee stock as a new column
# in order to let column names to be informative, variable names and not values
table6_estimate = table6_e.melt(id_vars = ['Country', 'Country Code','Data type','Major_area','Region', 'Developed_region','Least_developed_country','Sub_Saharan_Africa'], 
                         var_name = 'Year', value_name = 'Estimated refugee stock')
table6_estimate.head()

,Country,Country Code,Data type,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa,Year,Estimated refugee stock
0,Burundi,108,B R,Asia,Southern Asia,No,Yes,No,1990,267929
1,Comoros,174,B,Europe,Southern Europe,Yes,No,No,1990,0
2,Djibouti,262,B R,Africa,Northern Africa,No,No,No,1990,54508
3,Eritrea,232,I,Oceania,Polynesia,No,No,No,1990,0
4,Ethiopia,231,B R,Europe,Southern Europe,Yes,No,No,1990,741965

### Table 6.2 - Refugees as a percentage of the international migrant stock

In [440]:
# Seperate Refugees as a percentage of the international migrant stock from the table 6
table6_r = table6.iloc[:,[0,1,2,9,10,11,12,13,14,20,21,22,23,24]]

# Assign Refugees proportion as a new column
# in order to let column names to be informative, variable names and not values
table6_proportion = table6_r.melt(id_vars = ['Country', 'Country Code','Data type','Major_area','Region', 'Developed_region','Least_developed_country','Sub_Saharan_Africa'], 
                         var_name = 'Year', value_name = 'Refugees proportion')

table6_proportion.head()

,Country,Country Code,Data type,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa,Year,Refugees proportion
0,Burundi,108,B R,Asia,Southern Asia,No,Yes,No,1990,80.43259
1,Comoros,174,B,Europe,Southern Europe,Yes,No,No,1990,0
2,Djibouti,262,B R,Africa,Northern Africa,No,No,No,1990,44.597901
3,Eritrea,232,I,Oceania,Polynesia,No,No,No,1990,0
4,Ethiopia,231,B R,Europe,Southern Europe,Yes,No,No,1990,64.21771

### Table 6.3 - Annual rate of change of the refugee stock

In [441]:
# Seperate Annual rate of change of the refugee stock from the table 6
table6_a = table6.iloc[:,[0,1,2,15,16,17,18,19,20,21,22,23,24]]

# Assign Annual rate of change as a new column
# in order to let column names to be informative, variable names and not values
table6_annual = table6_a.melt(id_vars = ['Country', 'Country Code','Data type','Major_area','Region', 'Developed_region','Least_developed_country','Sub_Saharan_Africa'], 
                         var_name = 'Year', value_name = 'Annual rate of change')
table6_annual.head()

,Country,Country Code,Data type,Major_area,Region,Developed_region,Least_developed_country,Sub_Saharan_Africa,Year,Annual rate of change
0,Burundi,108,B R,Asia,Southern Asia,No,Yes,No,1990-1995,-3.390926
1,Comoros,174,B,Europe,Southern Europe,Yes,No,No,1990-1995,..
2,Djibouti,262,B R,Africa,Northern Africa,No,No,No,1990-1995,-9.763426
3,Eritrea,232,I,Oceania,Polynesia,No,No,No,1990-1995,..
4,Ethiopia,231,B R,Europe,Southern Europe,Yes,No,No,1990-1995,-5.505717