# INF1340 Midterm Submission - Teresa Lau

## Import Libraries

In [1]:
import numpy as np
import pandas as pd

## Table Variables - Reference

In [2]:
#Annex table = annex
#Notes table = notes_dict (# it is a dictionary)

#Cleaned Table 1 = table1_cleaned
#Cleaned Table 2 = table2_cleaned
#Cleaned Table 3 = table3_clean
#Cleaned Table 4 = table4_clean
#Cleaned Table 5 = table5_clean
#Cleaned Table 6 - = table6_MyStock
#Cleaned Table 6 Refugee as a percentage of international migrant stock = table6_RP
#Cleaned Table 6 Annual Rate of Change of Refugee Stock = table6_AR

## Read Notes Table from Github

In [3]:
notes = pd.read_excel(r"https://github.com/shionguha/inf1340-programmingfordatascience-fa22/raw/789475cbc91d784566d05b7dfba59c83df70cf79/project%20data/UN_MigrantStockTotal_2015.xlsx", sheet_name = "NOTES")

#Clean up the Notes Table

notes = notes.iloc[14:]
notes.rename(columns = {
    "Unnamed: 0": "Notes Label",
    "Unnamed: 1": "Notes Content" 
}, inplace = True)

# Convert the Notes table to a dictionary

notes_dict = notes.set_index("Notes Label").T.to_dict("list")

## Read Annex Table from Github

In [4]:
annex1 = pd.read_excel(r"https://github.com/shionguha/inf1340-programmingfordatascience-fa22/raw/789475cbc91d784566d05b7dfba59c83df70cf79/project%20data/UN_MigrantStockTotal_2015.xlsx", sheet_name = "ANNEX")

#Clean up the annex table
#Remove top 12 rows as they are empty

annex = annex1.iloc[14:]
annex.columns = ["Country code",
                 "Country or Area",
                 "Country Sort Order",
                 "Major Area",
                 "Major Area Code",
                 "Major Area Sort Order",
                 "Region",
                 "Region Code",
                 "Region Sort Order",
                 "Developed Region",
                 "Least Developed Country",
                 "Sub-Saharan Africa"
                ]

#reset index as country codes to perform future inner join operation with other tables

annex = annex.set_index("Country code")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:6982: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

In [5]:
annex.head(10)

,Country or Area,Country Sort Order,Major Area,Major Area Code,Major Area Sort Order,Region,Region Code,Region Sort Order,Developed Region,Least Developed Country,Sub-Saharan Africa
Country code,,,,,,,,,,,
4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No
8,Albania,154,Europe,908,127,Southern Europe,925,153,Yes,No,No
12,Algeria,40,Africa,903,7,Northern Africa,912,39,No,No,No
16,American Samoa,257,Oceania,909,238,Polynesia,957,256,No,No,No
20,Andorra,155,Europe,908,127,Southern Europe,925,153,Yes,No,No
24,Angola,30,Africa,903,7,Middle Africa,911,29,No,Yes,Yes
660,Anguilla,182,Latin America and the Caribbean,904,180,Caribbean,915,181,No,No,No
28,Antigua and Barbuda,183,Latin America and the Caribbean,904,180,Caribbean,915,181,No,No,No
32,Argentina,218,Latin America and the Caribbean,904,180,South America,931,217,No,No,No
51,Armenia,109,Asia,935,71,Western Asia,922,108,No,No,No

## Read Excel Workbook from Github - Table 1

In [6]:
table1 = pd.read_excel(r"https://github.com/shionguha/inf1340-programmingfordatascience-fa22/raw/789475cbc91d784566d05b7dfba59c83df70cf79/project%20data/UN_MigrantStockTotal_2015.xlsx", sheet_name = "Table 1")

### Remove blank rows and rename columns (Table 1)

In [7]:
#remove top 12 row as they are empty
table1 = table1.iloc[13:]

#Preference Setting - display more columns
pd.set_option("display.max_columns", 25)

#Rename Columns
table1.rename(columns = 
                    {"Unnamed: 0":"Sort/Order", 
                     "Unnamed: 1": "Major Area/Region/Country",
                     "Unnamed: 2":"Notes",
                     "Unnamed: 3": "Country Code",
                     "Unnamed: 4": "Type of Data",
                     "Unnamed: 5": "Both Sexes_1990",
                     "Unnamed: 6": "Both Sexes_1995",
                     "Unnamed: 7": "Both Sexes_2000",
                     "Unnamed: 8": "Both Sexes_2005",
                     "Unnamed: 9":"Both Sexes_2010",
                     "Unnamed: 10":"Both Sexes_2015",
                     "Unnamed: 11":"M_1990",
                     "Unnamed: 12": "M_1995",
                     "Unnamed: 13": "M_2000",
                     "Unnamed: 14": "M_2005",
                     "Unnamed: 15":"M_2010",
                     "Unnamed: 16": "M_2015", 
                     "Unnamed: 17": "F_1990",
                     "Unnamed: 18": "F_1995",
                     "Unnamed: 19": "F_2000", 
                     "Unnamed: 20": "F_2005",
                     "Unnamed: 21":"F_2010",
                     "Unnamed: 22":"F_2015"}, inplace = True)

#remove rows containing old column headers
table1_removetop2 = table1.iloc[2:]

### Unpivot Columns containing Information Year & Gender (Table 1)

In [8]:
#Unpivot columns containing sex and year to rows

melt_table1 = pd.melt(table1_removetop2, id_vars = ["Sort/Order", "Major Area/Region/Country","Notes","Country Code","Type of Data"],
                     var_name = "Sex_Year", value_name = "Migrant Stock")

#split gender year by delimiter
melt_table1[["Sex", "Year"]] = melt_table1["Sex_Year"].str.split("_", expand = True)


#Remove Gender_Year column

table1_dropgy = melt_table1.drop(["Sex_Year"], axis = 1)

#Recode "M" and "F" as proper labels "Male" and "Female"
table1_dropgy = table1_dropgy.replace({"M":"Male","F":"Female"})

### Clean "Type of Data" column (Table 1)

In [9]:
#Check for unique value in "Type of Data" column
table1_dropgy["Type of Data"].unique()

#Clean up the inconsistent labels in "Type of Data"
table1_dropgy["Type of Data"] = table1_dropgy["Type of Data"].str.replace('B R ','B R')

#Build a dictionary to label the different types of population data incoporated in the data

data_type_dict = {
    "B":"Foreign-born Population",
    "R":"Refugee Population Included in Estimate of International Migrants",
    "I":"No Data on International Migrant",
    "C":"Foreign Citizen",
    "na":"No Additional Information"
}

#Replace nan with na in column "Type of Data" as it leads to error in the data replacement process

table1_dropgy["Type of Data"] = table1_dropgy["Type of Data"].replace(to_replace = [np.nan], value = ["na"])

#Replacing values in "Type of Data" with the descriptions in the dictionary

table1_dropgy["Type of Data"] = table1_dropgy["Type of Data"].apply(lambda x: "; ".join([data_type_dict[i] for i in x.strip().split()]))

### Remove regions/major areas from rows using inner join (Table 1)

In [10]:
# Inner Join Table 1 and Annex Table to get rid of regions and continents names from country row
# The Annex table has the breakdown of country, region and major area that I can reference

table1_joined = table1_dropgy.join(annex, on = "Country Code", how = "inner")

### Re-order Table 1 following the Inner Join (Table 1)

In [11]:
#Drop duplicate columns as a result of the inner join with the annex table & reset index
table1_joined = table1_joined.drop(columns = ["Sort/Order",
                                             "Major Area/Region/Country",
                                             ]).reset_index(drop = True)

#Rearrange table 1 to improve readibility
table1_clean = table1_joined[[
    'Major Area Sort Order',
    'Major Area Code',
    'Major Area',
    'Region Sort Order',
    'Region Code',
    'Region',
    'Country Sort Order',
    'Country Code',
    'Country or Area',
    'Year',
    'Sex',
    'Migrant Stock',
    'Type of Data',
    'Developed Region',
    'Least Developed Country',
    'Sub-Saharan Africa',
    'Notes'
]]

#Change data type for Migrant Stock from object to float
table1_clean["Migrant Stock"] = table1_clean["Migrant Stock"].replace(to_replace = [".."], value = [np.nan])
table1_clean.astype({"Migrant Stock": "float64"})

#Display cleaned Table 1
table1_clean

,Major Area Sort Order,Major Area Code,Major Area,Region Sort Order,Region Code,Region,Country Sort Order,Country Code,Country or Area,Year,Sex,Migrant Stock,Type of Data,Developed Region,Least Developed Country,Sub-Saharan Africa,Notes
0,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1990,Both Sexes,333110.0,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
1,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1995,Both Sexes,254853.0,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
2,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2000,Both Sexes,125628.0,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
3,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2005,Both Sexes,172874.0,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
4,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2010,Both Sexes,235259.0,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4171,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,1995,Female,821.0,Foreign-born Population,No,No,No,NaN
4172,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2000,Female,997.0,Foreign-born Population,No,No,No,NaN
4173,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2005,Female,1171.0,Foreign-born Population,No,No,No,NaN
4174,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2010,Female,1375.0,Foreign-born Population,No,No,No,NaN
4175,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2015,Female,1411.0,Foreign-born Population,No,No,No,NaN

## Read Table 2 from Excel Workbook on Github

In [12]:
table2 = pd.read_excel(r"https://github.com/shionguha/inf1340-programmingfordatascience-fa22/raw/789475cbc91d784566d05b7dfba59c83df70cf79/project%20data/UN_MigrantStockTotal_2015.xlsx", sheet_name = "Table 2")

### Remove Blank Rows & Rename Column Names (Table 2)

In [13]:
#Remove top 14 blank rows
table2_removetop14 = table2.iloc[15:]

#Rename columns with proper columns headers
table2_removetop14.rename(columns = {
    "Unnamed: 0":"Sort\norder",
    "Unnamed: 1":"Major Area/Region/Country",
    "Unnamed: 2":"Notes",
    "Unnamed: 3":"Country Code",
    "Unnamed: 4": "Both Sexes_1990",
    "Unnamed: 5": "Both Sexes_1995",
    "Unnamed: 6": "Both Sexes_2000",
    "Unnamed: 7": "Both Sexes_2005",
    "Unnamed: 8": "Both Sexes_2010",
    "Unnamed: 9": "Both Sexes_2015",
    "Unnamed: 10":"M_1990",
    "Unnamed: 11":"M_1995",
    "Unnamed: 12":"M_2000",
    "Unnamed: 13":"M_2005",
    "Unnamed: 14":"M_2010",
    "Unnamed: 15":"M_2015",
    "Unnamed: 16":"F_1990",
    "Unnamed: 17":"F_1995",
    "Unnamed: 18":"F_2000",
    "Unnamed: 19":"F_2005",
    "Unnamed: 20":"F_2010",
    "Unnamed: 21":"F_2015"
}, inplace = True)

C:\Users\Teresa Lau\AppData\Local\Temp\ipykernel_15500\4179787306.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table2_removetop14.rename(columns = {

### Create Seperate Gender & Year columns (Table 2)

In [14]:
#Unpivot Gender_Year column to rows

table2_MFflat = pd.melt(table2_removetop14, id_vars =[
    "Sort\norder",
    "Major Area/Region/Country",
    "Notes",
    "Country Code"], var_name = "Sex_Year", 
    value_name = "Total Population")

#seperate the Gender_Year columns by delimiter
table2_MFflat[["Sex", "Year"]] = table2_MFflat["Sex_Year"].str.split("_", expand = True)

#Remove Gender_Year column
table2_MFflat = table2_MFflat.drop(columns=["Sex_Year"])
table2_MFflat

#Rename "M" and "F" to proper labels as "Male" and "Female". "Both Sexes" labels remain unchanged.
table2_MFflat = table2_MFflat.replace({
    "M":"Male",
    "F":"Female"
})

### Remove world/region/major area information by inner join (join with Annex table) (Table 2)

In [15]:
table2_joined = table2_MFflat.join(annex, on = "Country Code", how = "inner")

### Clean up following the Inner Join & Rearrange columns order (Table 2)

In [16]:
#Drop duplicate columns as a result of the inner join with the annex table & reset index
table2_joined = table2_joined.drop(columns = ["Sort\norder",
                                             "Major Area/Region/Country",
                                             ]).reset_index(drop = True)

#Rearrange columns to improve readability
table2_clean = table2_joined[[
    'Major Area Sort Order',
    'Major Area Code',
    'Major Area',
    'Region Sort Order',
    'Region Code',
    'Region',
    'Country Sort Order',
    'Country Code',
    'Country or Area',
    'Year',
    'Sex',
    'Total Population',
    'Developed Region',
    'Least Developed Country',
    'Sub-Saharan Africa',
    'Notes'
]]

#Replace the ".." with nan under the total population column
table2_clean["Total Population"] = table2_clean["Total Population"].replace(to_replace = [".."], value = [np.nan])

#The values are expressed as x1000 in the original dataset. Converting the value in full to avoid confustion. 
table2_clean["Total Population"] = table2_clean["Total Population"]*1000

#Convert data type for "Total Population" column to float
table2_clean.astype({"Total Population": "float64"})

#Display cleaned table 2
table2_clean

,Major Area Sort Order,Major Area Code,Major Area,Region Sort Order,Region Code,Region,Country Sort Order,Country Code,Country or Area,Year,Sex,Total Population,Developed Region,Least Developed Country,Sub-Saharan Africa,Notes
0,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1990,Both Sexes,5613141.0,No,Yes,Yes,NaN
1,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1995,Both Sexes,6239030.0,No,Yes,Yes,NaN
2,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2000,Both Sexes,6767073.0,No,Yes,Yes,NaN
3,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2005,Both Sexes,7934213.0,No,Yes,Yes,NaN
4,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2010,Both Sexes,9461117.0,No,Yes,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4171,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,1995,Female,NaN,No,No,No,NaN
4172,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2000,Female,NaN,No,No,No,NaN
4173,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2005,Female,NaN,No,No,No,NaN
4174,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2010,Female,NaN,No,No,No,NaN
4175,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2015,Female,NaN,No,No,No,NaN

## Import Table 3 from Github

In [17]:
table3 = pd.read_excel(r"https://github.com/shionguha/inf1340-programmingfordatascience-fa22/raw/789475cbc91d784566d05b7dfba59c83df70cf79/project%20data/UN_MigrantStockTotal_2015.xlsx", sheet_name = "Table 3")

### Remove Blank Rows and Rename Columns (Table 3)

In [18]:
#Rename Columns
table3.rename(columns = {
    "Unnamed: 0":"Sort/Order",
    "Unnamed: 1":"Major Area/Country",
    "Unnamed: 2":"Notes",
    "Unnamed: 3":"Country Code",
    "Unnamed: 4":"Type of Data",
    "Unnamed: 5":"Both sexes_1990",
    "Unnamed: 6":"Both sexes_1995",
    "Unnamed: 7":"Both sexes_2000",
    "Unnamed: 8":"Both sexes_2005",
    "Unnamed: 9":"Both sexes_2010",
    "Unnamed: 10":"Both sexes_2015",
    "Unnamed: 11":"M_1990",
    "Unnamed: 12":"M_1995",
    "Unnamed: 13":"M_2000",
    "Unnamed: 14":"M_2005",
    "Unnamed: 15":"M_2010",
    "Unnamed: 16":"M_2015",
    "Unnamed: 17":"F_1990",
    "Unnamed: 18":"F_1995",
    "Unnamed: 19":"F_2000",
    "Unnamed: 20":"F_2005",
    "Unnamed: 21":"F_2010",
    "Unnamed: 22":"F_2015"
}, inplace = True)

#Remove blank rows
table3 = table3.iloc[15:]

### Unpivot Columns Containing Year and Gender; Clean "Type of Data" Column (Table 3)

In [19]:
#Use the melt function to unpivot the columns containing year and gender information
table3_melt = pd.melt(table3, id_vars = [
    'Sort/Order',
    'Major Area/Country',
    'Notes',
    'Country Code',
    'Type of Data'], var_name = "Sex_Year", value_name = "International Migrant Stock as Percentage of the Total Population"
)

table3_melt[["Sex", "Year"]] = table3_melt["Sex_Year"].str.split("_", expand = True)

table3_melt = table3_melt.drop(columns = ["Sex_Year"])

#replace nan with na in column "Type of Data"
table3_melt["Type of Data"] = table3_melt["Type of Data"].replace(to_replace = [np.nan], value = ["na"])

#Replace values in "Type of Data" with the descriptions in the dictionary
table3_melt["Type of Data"] = table3_melt["Type of Data"].apply(lambda x: "; ".join([data_type_dict[i] for i in x.strip().split()]))

### Use Inner Join Function to Remove World and Region Data from "Major Area/County" column (Table 3)

In [20]:
table3_joined = table3_melt.join(annex, on = "Country Code", how = "inner")

#Remove the .. from the percentage 
table3_joined["International Migrant Stock as Percentage of the Total Population"] = table3_joined["International Migrant Stock as Percentage of the Total Population"].replace(to_replace = [".."], value = [np.nan])

#set the percentage as float
table3_joined["International Migrant Stock as Percentage of the Total Population"] = table3_joined["International Migrant Stock as Percentage of the Total Population"].astype(float)

### Rename column values and rearrange columns (Table 3)

In [21]:
#Replace codes for sexes with proper labels
table3_joined["Sex"] = table3_melt["Sex"].replace(to_replace = ["Both sexes", "M", "F"], value = ["Both Sexes", "Male", "Female"])

#Clean up the order of the table & reset index 
table3_clean = table3_joined.drop(columns = ["Sort/Order", "Major Area/Country"]).reset_index(drop = True)

table3_clean= table3_clean [[
    'Major Area Sort Order',
    'Major Area Code',
    'Major Area',
    'Region Sort Order',
    'Region Code',
    'Region',
    'Country Sort Order',
    'Country Code',
    'Country or Area',
    'Year',
    'Sex',
    'International Migrant Stock as Percentage of the Total Population',
    'Developed Region',
    'Least Developed Country',
    'Sub-Saharan Africa',
    'Type of Data',
    'Notes'
]]

#Reset index 
table3_clean.reset_index(inplace = True, drop = True)

pd.set_option("display.precision", 2)

#Display cleaned table 3
table3_clean

,Major Area Sort Order,Major Area Code,Major Area,Region Sort Order,Region Code,Region,Country Sort Order,Country Code,Country or Area,Year,Sex,International Migrant Stock as Percentage of the Total Population,Developed Region,Least Developed Country,Sub-Saharan Africa,Type of Data,Notes
0,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1990,Both Sexes,5.93,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
1,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1995,Both Sexes,4.08,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
2,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2000,Both Sexes,1.86,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
3,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2005,Both Sexes,2.18,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
4,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2010,Both Sexes,2.49,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4171,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,1995,Female,NaN,No,No,No,Foreign-born Population,NaN
4172,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2000,Female,NaN,No,No,No,Foreign-born Population,NaN
4173,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2005,Female,NaN,No,No,No,Foreign-born Population,NaN
4174,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2010,Female,NaN,No,No,No,Foreign-born Population,NaN
4175,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2015,Female,NaN,No,No,No,Foreign-born Population,NaN

## Read Table 4 from Github

In [22]:
table4 = pd.read_excel(r"https://github.com/shionguha/inf1340-programmingfordatascience-fa22/raw/789475cbc91d784566d05b7dfba59c83df70cf79/project%20data/UN_MigrantStockTotal_2015.xlsx", sheet_name = "Table 4")

### Remove Blank Rows & Rename Column Headers (Table 4)

In [23]:
#Remove top 14 rows as they are blank
table4_removerows = table4.iloc[15:].rename(columns = {
    "Unnamed: 0":"Sort\norder",
    "Unnamed: 1": "Major Area/Region/Country",
    "Unnamed: 2":"Notes",
    "Unnamed: 3":"Country Code",
    "Unnamed: 4":"Type of Data",
    "Unnamed: 5":"F_1990",
    "Unnamed: 6":"F_1995",
    "Unnamed: 7":"F_2000",
    "Unnamed: 8":"F_2005",
    "Unnamed: 9":"F_2010",
    "Unnamed: 10":"F_2015"
})

### Use melt to unpivot year columns (Table 4)

In [24]:
#Unpivot columns containing migrant stock percentage information as rows
table4_melt = pd.melt(table4_removerows, id_vars = ["Sort\norder",
                                              "Major Area/Region/Country",
                                              "Notes",
                                              "Country Code",
                                              "Type of Data"], var_name = "Sex_Year", value_name = "Percentage of International Migrant Stock"
                     )
#Split Sex & Year
table4_melt[["Sex", "Year"]] = table4_melt["Sex_Year"].str.split("_", expand = True)

#Remove Gender_Year column 
table4_melt = table4_melt.drop(columns = ["Sex_Year"]).replace({"F":"Female"})

### Clean Type of Data Column (Table 4)

In [25]:
#Find unique values
table4_melt["Type of Data"].unique()

#Replace nan with na in column "Type of Data" as it leads to error in the data replacement process
table4_melt["Type of Data"] = table4_melt["Type of Data"].replace(to_replace = [np.nan], value = ["na"])

#Replacing values in "Type of Data" with the descriptions in the dictionary
table4_melt["Type of Data"] = table4_melt["Type of Data"].apply(lambda x: "; ".join([data_type_dict[i] for i in x.strip().split()]))

### Clean Major Area/Region/Country by Inner Join (Join with Annex table) (Table 4)

In [26]:
table4_joined = table4_melt.join(annex, on = "Country Code", how = "inner")

### Convert percentage columns to float (Table 4)

In [27]:
#Discovered there is a stg ".." in the migrant # column, replace str with nan

table4_joined["Percentage of International Migrant Stock"] = table4_joined["Percentage of International Migrant Stock"].replace(to_replace = [".."], value = [np.nan])

#divide current number by 100
#table4_joined["Percentage of International Migrant Stock"]= table4_joined["Percentage of International Migrant Stock"]/100

table4_joined["Percentage of International Migrant Stock"] = table4_joined["Percentage of International Migrant Stock"].astype(float)

### Clean Up Duplicate Columns & Re-arrange Columns (Table 4)

In [28]:
#clean up duplicate columns as a result of the inner join

table4_clean = table4_joined.drop(columns = ['Sort\norder','Major Area/Region/Country']).reset_index(drop = True)

table4_clean = table4_clean[[
    'Major Area Sort Order',
    'Major Area Code',
    'Major Area',
    'Region Sort Order',
    'Region Code',
    'Region',
    'Country Sort Order',
    'Country or Area',
    'Country Code',
    'Year',
    'Sex',
    'Percentage of International Migrant Stock',
    'Type of Data',
    'Developed Region',
    'Least Developed Country',
    'Sub-Saharan Africa',
    'Notes'
]]

pd.set_option("display.precision", 2)

#Display cleaned table 4
table4_clean

,Major Area Sort Order,Major Area Code,Major Area,Region Sort Order,Region Code,Region,Country Sort Order,Country or Area,Country Code,Year,Sex,Percentage of International Migrant Stock,Type of Data,Developed Region,Least Developed Country,Sub-Saharan Africa,Notes
0,7,903,Africa,8,910,Eastern Africa,9,Burundi,108,1990,Female,50.99,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
1,7,903,Africa,8,910,Eastern Africa,9,Burundi,108,1995,Female,51.28,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
2,7,903,Africa,8,910,Eastern Africa,9,Burundi,108,2000,Female,51.37,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
3,7,903,Africa,8,910,Eastern Africa,9,Burundi,108,2005,Female,50.94,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
4,7,903,Africa,8,910,Eastern Africa,9,Burundi,108,2010,Female,50.77,Foreign-born Population; Refugee Population In...,No,Yes,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1387,238,909,Oceania,256,957,Polynesia,265,Wallis and Futuna Islands,876,1995,Female,48.87,Foreign-born Population,No,No,No,NaN
1388,238,909,Oceania,256,957,Polynesia,265,Wallis and Futuna Islands,876,2000,Female,49.48,Foreign-born Population,No,No,No,NaN
1389,238,909,Oceania,256,957,Polynesia,265,Wallis and Futuna Islands,876,2005,Female,49.51,Foreign-born Population,No,No,No,NaN
1390,238,909,Oceania,256,957,Polynesia,265,Wallis and Futuna Islands,876,2010,Female,49.53,Foreign-born Population,No,No,No,NaN
1391,238,909,Oceania,256,957,Polynesia,265,Wallis and Futuna Islands,876,2015,Female,49.53,Foreign-born Population,No,No,No,NaN

## Import Table 5 from Github

In [29]:
table5 = pd.read_excel(r"https://github.com/shionguha/inf1340-programmingfordatascience-fa22/raw/789475cbc91d784566d05b7dfba59c83df70cf79/project%20data/UN_MigrantStockTotal_2015.xlsx", sheet_name = "Table 5")

### Rename column headers (Table 5)

In [30]:
#Rename columns
table5.rename(columns = {
    'Unnamed: 0': "Sort/Order",
    'Unnamed: 1':"Major Area/Country",
    'Unnamed: 2':"Notes",
    'Unnamed: 3':"Country Code",
    'Unnamed: 4':"Type of Data",
    'Unnamed: 5':"Both_1990-1995",
    'Unnamed: 6':"Both_1995-2000",
    'Unnamed: 7':"Both_2000-2005",
    'Unnamed: 8':"Both_2005-2010",
    'Unnamed: 9':"Both_2010-2015",
    'Unnamed: 10':"M_1990-1995",
    'Unnamed: 11':"M_1995-2000",
    'Unnamed: 12':"M_2000-2005",
    'Unnamed: 13':"M_2005-2010",
    'Unnamed: 14':"M_2010-2015",
    'Unnamed: 15':"F_1990-1995",
    'Unnamed: 16':"F_1995-2000",
    'Unnamed: 17':"F_2000-2005",
    'Unnamed: 18':"F_2005-2010",
    'Unnamed: 19':"F_2010-2015"
}, inplace = True)

#Remove blank rows at the top
table5 = table5.iloc[15:]

### Unpivot columns with years and sex (Table 5)

In [31]:
#Unpiovt Year Range and Sex columns 
table5_melt = pd.melt(table5, id_vars = [
    "Sort/Order","Major Area/Country","Notes","Country Code","Type of Data"], var_name = "Sex_YearRange", 
          value_name ="Annual Rate of Change of the Migrant Stock")

#Split Sex and Year Range
table5_melt[["Sex", "Year Range"]] = table5_melt["Sex_YearRange"].str.split("_",expand = True)
table5_melt = table5_melt.drop(columns = ["Sex_YearRange"])

### Use Inner Join to extract country from the "Major Area Country column" (Table 5)

In [32]:
table5_joined = table5_melt.join(annex, on = "Country Code", how = "inner")

### Clean the "Type of Data" column (Table 5)

In [33]:
#replace nan with na in column "Type of Data"
table5_joined["Type of Data"] = table5_joined["Type of Data"].replace(to_replace = [np.nan], value = ["na"])

#Replace values in "Type of Data" with the descriptions in the dictionary
table5_joined["Type of Data"] = table5_joined["Type of Data"].apply(lambda x: "; ".join([data_type_dict[i] for i in x.strip().split()]))

### Replace values in Sex column with proper label & rearrange table for readibility (Table 5)

In [34]:
#Replace codes for sexes with proper labels
table5_joined["Sex"] = table5_melt["Sex"].replace(to_replace = ["Both", "M", "F"], value = ["Both Sexes", "Male", "Female"])

#Re-arrange columns for readibility & reset index
table5_clean = table5_joined.drop(columns = ["Sort/Order", "Major Area/Country"]).reset_index(drop = True)

table5_clean= table5_clean [[
    'Major Area Sort Order',
    'Major Area Code',
    'Major Area',
    'Region Sort Order',
    'Region Code',
    'Region',
    'Country Sort Order',
    'Country Code',
    'Country or Area',
    'Year Range',
    'Sex',
    'Annual Rate of Change of the Migrant Stock',
    'Developed Region',
    'Least Developed Country',
    'Sub-Saharan Africa',
    'Type of Data',
    'Notes'
]]

#Replace ".." with nan in the annual rate of change column
table5_clean["Annual Rate of Change of the Migrant Stock"] = table5_clean["Annual Rate of Change of the Migrant Stock"].replace(to_replace = [".."], value = [np.nan])

#Change the column data type to float
table5_clean.astype({"Annual Rate of Change of the Migrant Stock": "float64"})

pd.set_option("display.precision", 2)

#Display clean table 5
table5_clean

,Major Area Sort Order,Major Area Code,Major Area,Region Sort Order,Region Code,Region,Country Sort Order,Country Code,Country or Area,Year Range,Sex,Annual Rate of Change of the Migrant Stock,Developed Region,Least Developed Country,Sub-Saharan Africa,Type of Data,Notes
0,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1990-1995,Both Sexes,-5.36,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
1,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1995-2000,Both Sexes,-14.15,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
2,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2000-2005,Both Sexes,6.38,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
3,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2005-2010,Both Sexes,6.16,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
4,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2010-2015,Both Sexes,3.96,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,1990-1995,Female,3.89,No,No,No,Foreign-born Population,NaN
3476,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,1995-2000,Female,3.88,No,No,No,Foreign-born Population,NaN
3477,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2000-2005,Female,3.22,No,No,No,Foreign-born Population,NaN
3478,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2005-2010,Female,3.21,No,No,No,Foreign-born Population,NaN
3479,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2010-2015,Female,0.52,No,No,No,Foreign-born Population,NaN

## Import Table 6 from Github

In [35]:
table6= pd.read_excel(r"https://github.com/shionguha/inf1340-programmingfordatascience-fa22/raw/789475cbc91d784566d05b7dfba59c83df70cf79/project%20data/UN_MigrantStockTotal_2015.xlsx", sheet_name = "Table 6")

### Remove blank rows and add column headers (Table 6)

In [36]:
table6=table6.iloc[15:]

#Rename columns
table6.rename(columns = {
    'Unnamed: 0':"Sort/Order",
    'Unnamed: 1':"Major Area/Country",
    'Unnamed: 2':"Notes",
    'Unnamed: 3':"Country Code",
    'Unnamed: 4':"Type of Data",
    'Unnamed: 5':"MYStock_1990",
    'Unnamed: 6':"MYStock_1995",
    'Unnamed: 7':"MYStock_2000",
    'Unnamed: 8':"MYStock_2005",
    'Unnamed: 9':"MYStock_2010",
    'Unnamed: 10':"MYStock_2015",
    'Unnamed: 11':"RefugeesPercent_1990",
    'Unnamed: 12':"RefugeesPercent_1995",
    'Unnamed: 13':"RefugeesPercent_2000",
    'Unnamed: 14':"RefugeesPercent_2005",
    'Unnamed: 15':"RefugeesPercent_2010",
    'Unnamed: 16':"RefugeesPercent_2015",
    'Unnamed: 17':"ARChange_90-95",
    'Unnamed: 18':"ARChange_95-00",
    'Unnamed: 19':"ARChange_00-05",
    'Unnamed: 20':"ARChange_05-10",
    'Unnamed: 21':"ARChange_10-15"
}, inplace = True)

### Use melt to unpivot columns containing indicator & year data (Table 6)

In [37]:
table6_melt = pd.melt(table6, id_vars =[
    "Sort/Order",'Major Area/Country', 'Notes', 'Country Code','Type of Data'], 
                      var_name = "Indicator_Year", value_name = "Value"
                     )

#Split Indicator and Value into two columns
table6_melt[["Indicator", "Year"]] = table6_melt["Indicator_Year"].str.split("_",expand = True)
table6_melt = table6_melt.drop(columns = ["Indicator_Year"])

### Clean the "Type of Data" Column (Table 6)

In [38]:
#replace nan with na in column "Type of Data"
table6_melt["Type of Data"] = table6_melt["Type of Data"].replace(to_replace = [np.nan], value = ["na"])

#Replace values in "Type of Data" with the descriptions in the dictionary
table6_melt["Type of Data"] = table6_melt["Type of Data"].apply(lambda x: "; ".join([data_type_dict[i] for i in x.strip().split()]))

### Use Inner Join to seperate major area and region from country (Table 6)

In [39]:
#Inner Join with Annex Table, then reset index, and drop the duplicate columns
table6_joined = table6_melt.join(annex, on = "Country Code", how = "inner").reset_index(drop = True).drop(columns = [
    "Sort/Order", "Major Area/Country"])

#Re-arrange columns for readibility
table6_joined= table6_joined [[
    'Major Area Sort Order',
    'Major Area Code',
    'Major Area',
    'Region Sort Order',
    'Region Code',
    'Region',
    'Country Sort Order',
    'Country Code',
    'Country or Area',
    'Year',
    'Indicator',
    'Value',
    'Developed Region',
    'Least Developed Country',
    'Sub-Saharan Africa',
    'Type of Data',
    'Notes'
]]

### Create a seperate data table for estimated migrant stock at mid-year data (Table 6)

In [40]:
#Create a seperate data table for estimated migrant stock at mid-year
table6_MyStock = table6_joined[table6_joined["Indicator"] == "MYStock"]

#Reset index and rename column header to indicate the variable where the values represent
#Drop the indicator column to remove redundent information
table6_MyStock = table6_MyStock.reset_index(drop = True).rename(columns = {
    "Value": "Estimated Refugee Stock at Mid-Year Both Sexes"}).drop(columns = ["Indicator"])

#Replace ".." with nan in the annual rate of change column
table6_MyStock["Estimated Refugee Stock at Mid-Year Both Sexes"] = table6_MyStock["Estimated Refugee Stock at Mid-Year Both Sexes"].replace(to_replace = [".."], value = [np.nan])

table6_MyStock.astype({"Estimated Refugee Stock at Mid-Year Both Sexes": "Int64"})

#Display 2 decimal place
pd.set_option("display.precision", 2)

#Display cleaned table 6 - Mid-Year Migrant Stock
table6_MyStock

,Major Area Sort Order,Major Area Code,Major Area,Region Sort Order,Region Code,Region,Country Sort Order,Country Code,Country or Area,Year,Estimated Refugee Stock at Mid-Year Both Sexes,Developed Region,Least Developed Country,Sub-Saharan Africa,Type of Data,Notes
0,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1990,267929.0,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
1,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1995,173017.0,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
2,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2000,27136.0,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
3,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2005,20681.0,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
4,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2010,29365.0,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1387,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,1995,0.0,No,No,No,Foreign-born Population,NaN
1388,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2000,0.0,No,No,No,Foreign-born Population,NaN
1389,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2005,0.0,No,No,No,Foreign-born Population,NaN
1390,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2010,0.0,No,No,No,Foreign-born Population,NaN
1391,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2015,0.0,No,No,No,Foreign-born Population,NaN

### Create a seperate data table for refugees as a percentage of the international migrant stock (Table 6)

In [41]:
#Create a seperate data table for refugees as a percentage of the international migrant stock
table6_RP = table6_joined[table6_joined["Indicator"] == "RefugeesPercent"]

#Remove the .. from the value column
table6_RP["Value"] = table6_RP["Value"].replace(to_replace = [".."], value = [np.nan])

#Change type to float
table6_RP["Value"] = table6_RP["Value"].astype(float)

#Rename columns header "Value" with "Percentage" to indicate the type of data
#Drop column "Indicator" & reset index
table6_RP = table6_RP.rename(columns = {
    "Value":"Refugees as a Percentage of the International Migrant Stock"}).drop(columns = [
    "Indicator"]).reset_index(drop = True)

#Display cleaned table 6 - Refugee as a percentage of international migrant stock
table6_RP

C:\Users\Teresa Lau\AppData\Local\Temp\ipykernel_15500\2282959697.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table6_RP["Value"] = table6_RP["Value"].replace(to_replace = [".."], value = [np.nan])
C:\Users\Teresa Lau\AppData\Local\Temp\ipykernel_15500\2282959697.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table6_RP["Value"] = table6_RP["Value"].astype(float)

,Major Area Sort Order,Major Area Code,Major Area,Region Sort Order,Region Code,Region,Country Sort Order,Country Code,Country or Area,Year,Refugees as a Percentage of the International Migrant Stock,Developed Region,Least Developed Country,Sub-Saharan Africa,Type of Data,Notes
0,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1990,80.43,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
1,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1995,67.89,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
2,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2000,21.60,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
3,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2005,11.96,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
4,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2010,12.48,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1387,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,1995,0.00,No,No,No,Foreign-born Population,NaN
1388,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2000,0.00,No,No,No,Foreign-born Population,NaN
1389,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2005,0.00,No,No,No,Foreign-born Population,NaN
1390,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2010,0.00,No,No,No,Foreign-born Population,NaN
1391,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2015,0.00,No,No,No,Foreign-born Population,NaN

### Create a seperate data table for annual rate of change of refugee stock (Table 6)

In [42]:
#Create a seperate table for annual rate of change data

table6_AR = table6_joined[table6_joined["Indicator"] == "ARChange"]

table6_AR = table6_AR.replace({
 "90-95":"1990-1995","95-00":"1995-2000","00-05":"2000-2005","05-10":"2005-2010","10-15":"2010-2015"
})

#Remove the .. from the value column
table6_AR["Value"] = table6_AR["Value"].replace(to_replace = [".."], value = [np.nan])

#Rename columns header "Value" with indicator name to indicate the type of data
table6_AR["Value"] = table6_AR.rename(columns = {"Value":"Annual Rate of Change of the Refugee Stock"}, inplace = True)

#Change type to float
table6_AR["Annual Rate of Change of the Refugee Stock"] = table6_AR["Annual Rate of Change of the Refugee Stock"].astype(float)

#Drop the "Indicator" column & reset index
table6_AR = table6_AR.drop(columns = ["Indicator"]).reset_index(drop = True)

pd.set_option("display.precision", 2)

#Display cleaned table 6 - Annual Rate of Change of Refugee Stock
table6_AR

,Major Area Sort Order,Major Area Code,Major Area,Region Sort Order,Region Code,Region,Country Sort Order,Country Code,Country or Area,Year,Annual Rate of Change of the Refugee Stock,Developed Region,Least Developed Country,Sub-Saharan Africa,Type of Data,Notes,Value
0,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1990-1995,-3.39,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN,None
1,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,1995-2000,-22.90,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN,None
2,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2000-2005,-11.82,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN,None
3,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2005-2010,0.85,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN,None
4,7,903,Africa,8,910,Eastern Africa,9,108,Burundi,2010-2015,5.78,No,Yes,Yes,Foreign-born Population; Refugee Population In...,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,1990-1995,NaN,No,No,No,Foreign-born Population,NaN,None
1156,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,1995-2000,NaN,No,No,No,Foreign-born Population,NaN,None
1157,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2000-2005,NaN,No,No,No,Foreign-born Population,NaN,None
1158,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2005-2010,NaN,No,No,No,Foreign-born Population,NaN,None
1159,238,909,Oceania,256,957,Polynesia,265,876,Wallis and Futuna Islands,2010-2015,NaN,No,No,No,Foreign-born Population,NaN,None