Cunrong Liu sharelink:https://colab.research.google.com/drive/16Q2mcj1hjqsGSjJsj_Pf5utANthIrwJi?usp=sharing

**Table 1**

In [5]:
#import table 1 and skip the tital rows
import pandas as pd
t1 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name="Table 1",skiprows= 14)
t1.head()

,Sort\norder,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),International migrant stock at mid-year (both sexes),Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,International migrant stock at mid-year (female),Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,1990,1995,2000,2005,2010,...,2000,2005,2010,2015,1990,1995,2000,2005,2010,2015
1,1.0,WORLD,NaN,900.0,NaN,152563212,160801752,172703309,191269100,221714243,...,87884839,97866674,114613714,126115435,74815702,79064275,84818470,93402426,107100529,117584801
2,2.0,Developed regions,(b),901.0,NaN,82378628,92306854,103375363,117181109,132560325,...,50536796,57217777,64081077,67618619,42115231,47214055,52838567,59963332,68479248,72863336
3,3.0,Developing regions,(c),902.0,NaN,70184584,68494898,69327946,74087991,89153918,...,37348043,40648897,50532637,58496816,32700471,31850220,31979903,33439094,38621281,44721465
4,4.0,Least developed countries,(d),941.0,NaN,11075966,11711703,10077824,9809634,10018128,...,5361902,5383009,5462714,6463217,5236216,5573685,4721920,4432371,4560536,5493028

In [6]:
#Add column names and drop unnamed colunm
t=t1
t.drop(t.index[0], inplace = True)
t.columns = ['Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Country code', 'Type of data (a)', 
                   '1990Both sex','1995Both sex','2000Both sex','2005Both sex','2010Both sex','2015Both sex',
                   '1990Male','1995Male','2000Male','2005Male','2010Male','2015Male',
                   '1990Female','1995Female','2000Female','2005Female','2010Female','2015Female'
                   ]
t = t.drop(t.columns[[2,4]], axis=1)
t.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,1990Both sex,1995Both sex,2000Both sex,2005Both sex,2010Both sex,2015Both sex,1990Male,...,2000Male,2005Male,2010Male,2015Male,1990Female,1995Female,2000Female,2005Female,2010Female,2015Female
1,1.0,WORLD,900.0,152563212,160801752,172703309,191269100,221714243,243700236,77747510,...,87884839,97866674,114613714,126115435,74815702,79064275,84818470,93402426,107100529,117584801
2,2.0,Developed regions,901.0,82378628,92306854,103375363,117181109,132560325,140481955,40263397,...,50536796,57217777,64081077,67618619,42115231,47214055,52838567,59963332,68479248,72863336
3,3.0,Developing regions,902.0,70184584,68494898,69327946,74087991,89153918,103218281,37484113,...,37348043,40648897,50532637,58496816,32700471,31850220,31979903,33439094,38621281,44721465
4,4.0,Least developed countries,941.0,11075966,11711703,10077824,9809634,10018128,11951316,5843107,...,5361902,5383009,5462714,6463217,5236216,5573685,4721920,4432371,4560536,5493028
5,5.0,Less developed regions excluding least develop...,934.0,59105261,56778501,59244124,64272611,79130668,91262036,31641006,...,31986141,35265888,45069923,52033599,27464255,26276535,27257983,29006723,34060745,39228437

In [7]:
#melt
t1B = t.melt(id_vars=["Sort\norder", "Major area, region, country or area of destination", "Country code"],
                     var_name = ["YearwithGender"], value_name = 'International migrant stock at mid-year')
t1B.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,YearwithGender,International migrant stock at mid-year
0,1.0,WORLD,900.0,1990Both sex,152563212
1,2.0,Developed regions,901.0,1990Both sex,82378628
2,3.0,Developing regions,902.0,1990Both sex,70184584
3,4.0,Least developed countries,941.0,1990Both sex,11075966
4,5.0,Less developed regions excluding least develop...,934.0,1990Both sex,59105261

In [8]:
# Create new column，year and gender
tb1 = (t1B.assign(Year = lambda x : x.YearwithGender.str[0:4].astype(str),Gender = lambda x : x.YearwithGender.str[4:].astype(str)))
tb1
tb1= tb1.drop('YearwithGender',axis=1)
tb1.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,International migrant stock at mid-year,Year,Gender
0,1.0,WORLD,900.0,152563212,1990,Both sex
1,2.0,Developed regions,901.0,82378628,1990,Both sex
2,3.0,Developing regions,902.0,70184584,1990,Both sex
3,4.0,Least developed countries,941.0,11075966,1990,Both sex
4,5.0,Less developed regions excluding least develop...,934.0,59105261,1990,Both sex

**Table 2**

In [9]:
#import table 2 and skip the tital rows
import pandas as pd
t2 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name="Table 2",skiprows= 14)
t2.head()

,Sort\norder,"Major area, region, country or area of destination",Notes,Country code,Total population of both sexes at mid-year (thousands),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Total female population at mid-year (thousands),Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,1990.000,1995.000,2000.000,2005.000,2010.000,2015.000,...,2000,2005,2010,2015,1990,1995,2000,2005,2010,2015
1,1.0,WORLD,NaN,900.0,5309667.699,5735123.084,6126622.121,6519635.850,6929725.043,7349472.099,...,3084537.662,3285082.249,3493956.904,3707205.753,2639243.998,2848487.191,3042084.459,3234553.601,3435768.139,3642266.346
2,2.0,Developed regions,(b),901.0,1144463.062,1169761.211,1188811.731,1208919.509,1233375.711,1251351.086,...,578010.218,587962.213,599955.476,609297.148,589207.436,601492.755,610801.513,620957.296,633420.235,642053.938
3,3.0,Developing regions,(c),902.0,4165204.637,4565361.873,4937810.390,5310716.341,5696349.332,6098121.013,...,2506527.444,2697120.036,2894001.428,3097908.605,2050036.562,2246994.436,2431282.946,2613596.305,2802347.904,3000212.408
4,4.0,Least developed countries,(d),941.0,510057.629,585189.354,664386.087,752804.951,847254.847,954157.804,...,331482.475,375757.715,422397.532,476031.179,256015.073,293162.612,332903.612,377047.236,424857.315,478126.625

In [10]:
#Add column names and drop unnamed colunm
tpop= t2
tpop.columns = ['Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Country code', 
                   '1990Both sex','1995Both sex','2000Both sex','2005Both sex','2010Both sex','2015Both sex',
                   '1990Male','1995Male','2000Male','2005Male','2010Male','2015Male',
                   '1990Female','1995Female','2000Female','2005Female','2010Female','2015Female']
tpop.drop(tpop.index[0], inplace = True)
tpop = tpop.drop(tpop.columns[[2]], axis=1)
tpop.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,1990Both sex,1995Both sex,2000Both sex,2005Both sex,2010Both sex,2015Both sex,1990Male,...,2000Male,2005Male,2010Male,2015Male,1990Female,1995Female,2000Female,2005Female,2010Female,2015Female
1,1.0,WORLD,900.0,5309667.699,5735123.084,6126622.121,6519635.850,6929725.043,7349472.099,2670423.701,...,3084537.662,3285082.249,3493956.904,3707205.753,2639243.998,2848487.191,3042084.459,3234553.601,3435768.139,3642266.346
2,2.0,Developed regions,901.0,1144463.062,1169761.211,1188811.731,1208919.509,1233375.711,1251351.086,555255.626,...,578010.218,587962.213,599955.476,609297.148,589207.436,601492.755,610801.513,620957.296,633420.235,642053.938
3,3.0,Developing regions,902.0,4165204.637,4565361.873,4937810.390,5310716.341,5696349.332,6098121.013,2115168.075,...,2506527.444,2697120.036,2894001.428,3097908.605,2050036.562,2246994.436,2431282.946,2613596.305,2802347.904,3000212.408
4,4.0,Least developed countries,941.0,510057.629,585189.354,664386.087,752804.951,847254.847,954157.804,254042.556,...,331482.475,375757.715,422397.532,476031.179,256015.073,293162.612,332903.612,377047.236,424857.315,478126.625
5,5.0,Less developed regions excluding least develop...,934.0,3655147.008,3980172.519,4273424.303,4557911.390,4849094.485,5143963.209,1861125.519,...,2175044.969,2321362.321,2471603.896,2621877.426,1794021.489,1953831.824,2098379.334,2236549.069,2377490.589,2522085.783

In [11]:
#melt
tpop1 = tpop.melt(id_vars=["Sort\norder", "Major area, region, country or area of destination", "Country code"],
                     var_name = ["YearwithGender"], value_name = 'Total Population at mid-year(thousands)')
tpop1.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,YearwithGender,Total Population at mid-year(thousands)
0,1.0,WORLD,900.0,1990Both sex,5309667.699
1,2.0,Developed regions,901.0,1990Both sex,1144463.062
2,3.0,Developing regions,902.0,1990Both sex,4165204.637
3,4.0,Least developed countries,941.0,1990Both sex,510057.629
4,5.0,Less developed regions excluding least develop...,934.0,1990Both sex,3655147.008

In [12]:
# Create new column，year and gender
tpop2 = (tpop1.assign(Year = lambda x : x.YearwithGender.str[0:4].astype(str),Gender = lambda x : x.YearwithGender.str[4:].astype(str)))
tpop2
tpop2= tpop2.drop('YearwithGender',axis=1)
tpop2.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,Total Population at mid-year(thousands),Year,Gender
0,1.0,WORLD,900.0,5309667.699,1990,Both sex
1,2.0,Developed regions,901.0,1144463.062,1990,Both sex
2,3.0,Developing regions,902.0,4165204.637,1990,Both sex
3,4.0,Least developed countries,941.0,510057.629,1990,Both sex
4,5.0,Less developed regions excluding least develop...,934.0,3655147.008,1990,Both sex

**Table 3**

In [13]:
#import table 3 and skip the tital rows
import pandas as pd
t3 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name="Table 3",skiprows= 14)
t3.head()

,Sort\norder,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),International migrant stock as a percentage of the total population (both sexes),Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,International migrant stock as a percentage of the total population (female),Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,1990,1995,2000,2005,2010.000000,...,2000,2005,2010,2015,1990,1995,2000,2005,2010,2015
1,1.0,WORLD,NaN,900.0,NaN,2.87331,2.803806,2.818899,2.933739,3.199467,...,2.849206,2.979124,3.280341,3.4019,2.83474,2.775658,2.788169,2.887645,3.117222,3.228342
2,2.0,Developed regions,(b),901.0,NaN,7.198015,7.891085,8.695688,9.693045,10.747765,...,8.743236,9.73154,10.680972,11.097807,7.147777,7.84948,8.650694,9.656595,10.811029,11.348476
3,3.0,Developing regions,(c),902.0,NaN,1.685021,1.500317,1.404022,1.395066,1.565106,...,1.490031,1.507122,1.746117,1.888268,1.595116,1.417459,1.315351,1.279428,1.378176,1.49061
4,4.0,Least developed countries,(d),941.0,NaN,2.171513,2.001353,1.516863,1.303078,1.182422,...,1.617552,1.432574,1.293264,1.35773,2.045276,1.901226,1.418405,1.175548,1.073428,1.148865

In [14]:
#Add column names and drop unnamed colunm
tper= t3
tper.columns = ['Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Country code', 'Type of data (a)',
                   '1990Both sex','1995Both sex','2000Both sex','2005Both sex','2010Both sex','2015Both sex',
                   '1990Male','1995Male','2000Male','2005Male','2010Male','2015Male',
                   '1990Female','1995Female','2000Female','2005Female','2010Female','2015Female']
tper.drop(tper.index[0], inplace = True)
tper = tper.drop(tper.columns[[2,4]], axis=1)
tper.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,1990Both sex,1995Both sex,2000Both sex,2005Both sex,2010Both sex,2015Both sex,1990Male,...,2000Male,2005Male,2010Male,2015Male,1990Female,1995Female,2000Female,2005Female,2010Female,2015Female
1,1.0,WORLD,900.0,2.87331,2.803806,2.818899,2.933739,3.199467,3.315888,2.91143,...,2.849206,2.979124,3.280341,3.4019,2.83474,2.775658,2.788169,2.887645,3.117222,3.228342
2,2.0,Developed regions,901.0,7.198015,7.891085,8.695688,9.693045,10.747765,11.226422,7.251326,...,8.743236,9.73154,10.680972,11.097807,7.147777,7.84948,8.650694,9.656595,10.811029,11.348476
3,3.0,Developing regions,902.0,1.685021,1.500317,1.404022,1.395066,1.565106,1.692624,1.772158,...,1.490031,1.507122,1.746117,1.888268,1.595116,1.417459,1.315351,1.279428,1.378176,1.49061
4,4.0,Least developed countries,941.0,2.171513,2.001353,1.516863,1.303078,1.182422,1.252551,2.30005,...,1.617552,1.432574,1.293264,1.35773,2.045276,1.901226,1.418405,1.175548,1.073428,1.148865
5,5.0,Less developed regions excluding least develop...,934.0,1.617042,1.426534,1.386338,1.410133,1.631865,1.774158,1.700101,...,1.470597,1.519189,1.823509,1.984593,1.530877,1.344872,1.299002,1.296941,1.432634,1.555397

In [15]:
#melt
tper1 = tper.melt(id_vars=["Sort\norder", "Major area, region, country or area of destination", "Country code",],
                     var_name = ["YearwithGender"], value_name = 'International migrant stock as a percentage of the total population ')
tper1.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,YearwithGender,International migrant stock as a percentage of the total population
0,1.0,WORLD,900.0,1990Both sex,2.87331
1,2.0,Developed regions,901.0,1990Both sex,7.198015
2,3.0,Developing regions,902.0,1990Both sex,1.685021
3,4.0,Least developed countries,941.0,1990Both sex,2.171513
4,5.0,Less developed regions excluding least develop...,934.0,1990Both sex,1.617042

In [16]:
# Create new column，year and gender
tper2 = (tper1.assign(Year = lambda x : x.YearwithGender.str[0:4].astype(str),Gender = lambda x : x.YearwithGender.str[4:].astype(str)))
tper2
tper2= tper2.drop('YearwithGender',axis=1)
tper2.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,International migrant stock as a percentage of the total population,Year,Gender
0,1.0,WORLD,900.0,2.87331,1990,Both sex
1,2.0,Developed regions,901.0,7.198015,1990,Both sex
2,3.0,Developing regions,902.0,1.685021,1990,Both sex
3,4.0,Least developed countries,941.0,2.171513,1990,Both sex
4,5.0,Less developed regions excluding least develop...,934.0,1.617042,1990,Both sex

**Table 4**

In [17]:
#import table 4 and skip the tital rows
import pandas as pd
t4 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name="Table 4",skiprows= 14)
t4.head()

,Sort\norder,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Female migrants as a percentage of the international migrant stock,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,1990,1995,2000,2005,2010.000000,2015.000000
1,1.0,WORLD,NaN,900.0,NaN,49.03915,49.16879,49.112244,48.832993,48.305660,48.249769
2,2.0,Developed regions,(b),901.0,NaN,51.123977,51.149024,51.113307,51.171501,51.658932,51.866687
3,3.0,Developing regions,(c),902.0,NaN,46.592099,46.500135,46.128444,45.134297,43.319780,43.327078
4,4.0,Least developed countries,(d),941.0,NaN,47.261155,47.571664,46.826689,45.157406,45.499573,45.942752

In [18]:
#Add column names and drop unnamed colunm
tFM= t4
tFM.columns = ['Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Country code', 'Type of data (a)',
                   '1990Female','1995Female','2000Female','2005Female','2010Female','2015Female']
tFM.drop(tFM.index[0], inplace = True)
tFM = tFM.drop(tFM.columns[[2,4]], axis=1)
tFM.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,1990Female,1995Female,2000Female,2005Female,2010Female,2015Female
1,1.0,WORLD,900.0,49.03915,49.16879,49.112244,48.832993,48.305660,48.249769
2,2.0,Developed regions,901.0,51.123977,51.149024,51.113307,51.171501,51.658932,51.866687
3,3.0,Developing regions,902.0,46.592099,46.500135,46.128444,45.134297,43.319780,43.327078
4,4.0,Least developed countries,941.0,47.261155,47.571664,46.826689,45.157406,45.499573,45.942752
5,5.0,Less developed regions excluding least develop...,934.0,46.466684,46.279022,46.009598,45.130768,43.043672,42.984398

In [20]:
#melt
tFM1 = tFM.melt(id_vars=["Sort\norder", "Major area, region, country or area of destination", "Country code"],
                     var_name = ["YearwithGender"], value_name = 'Female migrants as a percentge of the internation migrant stock')
tFM1.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,YearwithGender,Female migrants as a percentge of the internation migrant stock
0,1.0,WORLD,900.0,1990Female,49.03915
1,2.0,Developed regions,901.0,1990Female,51.123977
2,3.0,Developing regions,902.0,1990Female,46.592099
3,4.0,Least developed countries,941.0,1990Female,47.261155
4,5.0,Less developed regions excluding least develop...,934.0,1990Female,46.466684

In [21]:
# Create new column，year and gender
tFM2 = (tFM1.assign(Year = lambda x : x.YearwithGender.str[0:4].astype(str),Gender = lambda x : x.YearwithGender.str[4:].astype(str)))
tFM2
tFM2= tFM2.drop('YearwithGender',axis=1)
tFM2.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,Female migrants as a percentge of the internation migrant stock,Year,Gender
0,1.0,WORLD,900.0,49.03915,1990,Female
1,2.0,Developed regions,901.0,51.123977,1990,Female
2,3.0,Developing regions,902.0,46.592099,1990,Female
3,4.0,Least developed countries,941.0,47.261155,1990,Female
4,5.0,Less developed regions excluding least develop...,934.0,46.466684,1990,Female

**Table 5**

In [22]:
#import table 5 and skip the tital rows
import pandas as pd
t5 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name="Table 5",skiprows= 14)
t5.head()

,Sort\norder,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Annual rate of change of the migrant stock (both sexes),Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Annual rate of change of the migrant stock (male),Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Annual rate of change of the migrant stock (female),Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,NaN,NaN,1990-1995,1995-2000,2000-2005,2005-2010,2010-2015,1990-1995,1995-2000,2000-2005,2005-2010,2010-2015,1990-1995,1995-2000,2000-2005,2005-2010,2010-2015
1,1.0,WORLD,NaN,900.0,NaN,1.051865,1.428058,2.042124,2.95416,1.890991,1.000922,1.450294,2.151575,3.159228,1.912603,1.104667,1.405044,1.92808,2.737012,1.867837
2,2.0,Developed regions,(b),901.0,NaN,2.275847,2.264965,2.50708,2.466343,1.160824,2.265595,2.279583,2.483259,2.265689,1.074685,2.285643,2.250995,2.529838,2.65595,1.241097
3,3.0,Developing regions,(c),902.0,NaN,-0.487389,0.241777,1.328107,3.702217,2.929634,-0.45298,0.380246,1.693824,4.352954,2.927058,-0.526904,0.081268,0.89236,2.881555,2.933003
4,4.0,Least developed countries,(d),941.0,NaN,1.118175,-3.001139,-0.539636,0.419137,3.526927,1.000073,-2.718952,0.078575,0.293964,3.363629,1.249146,-3.316818,-1.265617,0.57011,3.72079

In [23]:
#Add column names and drop unnamed colunm
tAR= t5
tAR.columns = ['Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Country code', 'Type of data (a)',
                   '1990-1995Both sex','1995-2000Both sex','2000-2005Both sex','2005-2010Both sex','2010-2015Both sex',
                   '1990-1995Male','1995-2000Male','2000-2005Male','2005-2010Male','2010-2015Male',
                   '1990-1995Female','1995-2000Female','2000-2005Female','2005-2010Female','2010-2015Female']
tAR.drop(tAR.index[0], inplace = True)
tAR = tAR.drop(tAR.columns[[2,4]], axis=1)
tAR.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,1990-1995Both sex,1995-2000Both sex,2000-2005Both sex,2005-2010Both sex,2010-2015Both sex,1990-1995Male,1995-2000Male,2000-2005Male,2005-2010Male,2010-2015Male,1990-1995Female,1995-2000Female,2000-2005Female,2005-2010Female,2010-2015Female
1,1.0,WORLD,900.0,1.051865,1.428058,2.042124,2.95416,1.890991,1.000922,1.450294,2.151575,3.159228,1.912603,1.104667,1.405044,1.92808,2.737012,1.867837
2,2.0,Developed regions,901.0,2.275847,2.264965,2.50708,2.466343,1.160824,2.265595,2.279583,2.483259,2.265689,1.074685,2.285643,2.250995,2.529838,2.65595,1.241097
3,3.0,Developing regions,902.0,-0.487389,0.241777,1.328107,3.702217,2.929634,-0.45298,0.380246,1.693824,4.352954,2.927058,-0.526904,0.081268,0.89236,2.881555,2.933003
4,4.0,Least developed countries,941.0,1.118175,-3.001139,-0.539636,0.419137,3.526927,1.000073,-2.718952,0.078575,0.293964,3.363629,1.249146,-3.316818,-1.265617,0.57011,3.72079
5,5.0,Less developed regions excluding least develop...,934.0,-0.803244,0.850177,1.62934,4.159339,2.852687,-0.733256,0.950231,1.952269,4.90598,2.87349,-0.88418,0.733402,1.243624,3.212358,2.825127

In [24]:
#melt
tAR1 = tAR.melt(id_vars=["Sort\norder", "Major area, region, country or area of destination", "Country code"],
                     var_name = ["YearwithGender"], value_name = 'Annal rate of change of the migrant stock')
tAR1.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,YearwithGender,Annal rate of change of the migrant stock
0,1.0,WORLD,900.0,1990-1995Both sex,1.051865
1,2.0,Developed regions,901.0,1990-1995Both sex,2.275847
2,3.0,Developing regions,902.0,1990-1995Both sex,-0.487389
3,4.0,Least developed countries,941.0,1990-1995Both sex,1.118175
4,5.0,Less developed regions excluding least develop...,934.0,1990-1995Both sex,-0.803244

In [25]:
# Create new column，year and gender
tAR2 = (tAR1.assign(Year = lambda x : x.YearwithGender.str[0:9].astype(str),Gender = lambda x : x.YearwithGender.str[9:].astype(str)))
tAR2
tAR2= tAR2.drop('YearwithGender',axis=1)
tAR2.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,Annal rate of change of the migrant stock,Year,Gender
0,1.0,WORLD,900.0,1.051865,1990-1995,Both sex
1,2.0,Developed regions,901.0,2.275847,1990-1995,Both sex
2,3.0,Developing regions,902.0,-0.487389,1990-1995,Both sex
3,4.0,Least developed countries,941.0,1.118175,1990-1995,Both sex
4,5.0,Less developed regions excluding least develop...,934.0,-0.803244,1990-1995,Both sex

**Table 6**

In [26]:
#import table 6 and skip the tital rows
import pandas as pd
t6 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name="Table 6",skiprows= 14)
t6.head()

,Sort\norder,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Estimated refugee stock at mid-year (both sexes),Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Annual rate of change of the refugee stock,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,1990,1995,2000,2005,2010,...,1995,2000,2005,2010.000000,2015.000000,1990-1995,1995-2000,2000-2005,2005-2010,2010-2015
1,1.0,WORLD,NaN,900.0,NaN,18836571,17853840,15827803,13276733,15370755,...,11.103013,9.164736,6.941389,6.932687,8.033424,-2.123497,-3.837069,-5.557223,-0.025089,2.947267
2,2.0,Developed regions,(b),901.0,NaN,2014564,3609670,2997256,2361229,2046917,...,3.910511,2.899391,2.015025,1.544140,1.391085,9.388424,-5.983348,-7.277379,-5.323293,-2.087656
3,3.0,Developing regions,(c),902.0,NaN,16822007,14244170,12830547,10915504,13323838,...,20.795958,18.507035,14.733162,14.944759,17.073768,-2.839417,-2.332154,-4.561,0.285195,2.663652
4,4.0,Least developed countries,(d),941.0,NaN,5048391,5160131,3047488,2363782,1957884,...,44.041961,30.221557,24.08243,19.533425,28.801534,-0.680327,-7.531747,-4.541459,-4.187109,7.766031

In [27]:
#Add column names
tEf= t6
tEf.columns = ['Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Country code', 'Type of data (a)',
                     '1990both sex','1995both sex','2000both sex','2005both sex','2010both sex','2015both sex',
                     '1990Re','1995Re','2000Re','2005Re','2010Re','2015Re',
                     '1990-1995An','1995-200An','2000-2005An','2005-2010An','2010-2015An'
                   ]
tEf.drop(tEf.index[0], inplace = True)
tEf = tEf.drop(tEf.columns[[2,4]], axis=1)
tEf.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,1990both sex,1995both sex,2000both sex,2005both sex,2010both sex,2015both sex,1990Re,1995Re,2000Re,2005Re,2010Re,2015Re,1990-1995An,1995-200An,2000-2005An,2005-2010An,2010-2015An
1,1.0,WORLD,900.0,18836571,17853840,15827803,13276733,15370755,19577474,12.346732,11.103013,9.164736,6.941389,6.932687,8.033424,-2.123497,-3.837069,-5.557223,-0.025089,2.947267
2,2.0,Developed regions,901.0,2014564,3609670,2997256,2361229,2046917,1954224,2.445494,3.910511,2.899391,2.015025,1.544140,1.391085,9.388424,-5.983348,-7.277379,-5.323293,-2.087656
3,3.0,Developing regions,902.0,16822007,14244170,12830547,10915504,13323838,17623250,23.968236,20.795958,18.507035,14.733162,14.944759,17.073768,-2.839417,-2.332154,-4.561,0.285195,2.663652
4,4.0,Least developed countries,941.0,5048391,5160131,3047488,2363782,1957884,3443582,45.56588,44.041961,30.221557,24.08243,19.533425,28.801534,-0.680327,-7.531747,-4.541459,-4.187109,7.766031
5,5.0,Less developed regions excluding least develop...,934.0,11773616,9084039,9783059,8551722,11365954,14179668,19.919743,15.999082,16.51313,13.305391,14.363526,15.537313,-4.3836,0.632489,-4.319731,1.530456,1.571047

In [28]:
#deal with "Estimated refugee tock at mid-year(both sex)"，select the desired column and melt
tEf1 = tEf.iloc[:,0:8]
tEf1 = tEf1.melt(id_vars=["Sort\norder", "Major area, region, country or area of destination","Country code"],
                     var_name = ["YearwithGender"], value_name = 'Estimated refugee tock at mid-year(both sex)')
tEf1.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,YearwithGender,Estimated refugee tock at mid-year(both sex)
0,1.0,WORLD,900.0,1990both sex,18836571
1,2.0,Developed regions,901.0,1990both sex,2014564
2,3.0,Developing regions,902.0,1990both sex,16822007
3,4.0,Least developed countries,941.0,1990both sex,5048391
4,5.0,Less developed regions excluding least develop...,934.0,1990both sex,11773616

In [29]:
# Create new column，year and gender
tEf2 = (tEf1.assign(Year = lambda x : x.YearwithGender.str[0:4].astype(str),Gender = lambda x : x.YearwithGender.str[4:].astype(str)))
tEf2
tEf2= tEf2.drop('YearwithGender',axis=1)
tEf2.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,Estimated refugee tock at mid-year(both sex),Year,Gender
0,1.0,WORLD,900.0,18836571,1990,both sex
1,2.0,Developed regions,901.0,2014564,1990,both sex
2,3.0,Developing regions,902.0,16822007,1990,both sex
3,4.0,Least developed countries,941.0,5048391,1990,both sex
4,5.0,Less developed regions excluding least develop...,934.0,11773616,1990,both sex

In [30]:
# deal with "Refugees a percentage of the international migrant stock"
tRe = tEf.drop(tEf.iloc[:,3:9], axis = 1)
tRe = tRe.iloc[:,:9]
tRe.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,1990Re,1995Re,2000Re,2005Re,2010Re,2015Re
1,1.0,WORLD,900.0,12.346732,11.103013,9.164736,6.941389,6.932687,8.033424
2,2.0,Developed regions,901.0,2.445494,3.910511,2.899391,2.015025,1.544140,1.391085
3,3.0,Developing regions,902.0,23.968236,20.795958,18.507035,14.733162,14.944759,17.073768
4,4.0,Least developed countries,941.0,45.56588,44.041961,30.221557,24.08243,19.533425,28.801534
5,5.0,Less developed regions excluding least develop...,934.0,19.919743,15.999082,16.51313,13.305391,14.363526,15.537313

In [31]:
#melt
tRe = tRe.melt(id_vars=["Sort\norder", "Major area, region, country or area of destination","Country code"],
                     var_name = ["YearwithRefergee"], value_name = 'Refugees a percentage of the international migrant stock')
tRe.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,YearwithRefergee,Refugees a percentage of the international migrant stock
0,1.0,WORLD,900.0,1990Re,12.346732
1,2.0,Developed regions,901.0,1990Re,2.445494
2,3.0,Developing regions,902.0,1990Re,23.968236
3,4.0,Least developed countries,941.0,1990Re,45.56588
4,5.0,Less developed regions excluding least develop...,934.0,1990Re,19.919743

In [32]:
#Create new column :"year"
tRe1=(tRe.assign(Year = lambda x : x.YearwithRefergee.str[0:4].astype(str)))
tRe1= tRe1.drop('YearwithRefergee',axis=1)
tRe1.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,Refugees a percentage of the international migrant stock,Year
0,1.0,WORLD,900.0,12.346732,1990
1,2.0,Developed regions,901.0,2.445494,1990
2,3.0,Developing regions,902.0,23.968236,1990
3,4.0,Least developed countries,941.0,45.56588,1990
4,5.0,Less developed regions excluding least develop...,934.0,19.919743,1990

In [33]:
#deal with "Annual rate of change of the refugee stock"
tAn = tEf.drop(tEf.iloc[:,3:16], axis = 1)
tAn = tAn.iloc[:,:16]
tAn.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,1995-200An,2000-2005An,2005-2010An,2010-2015An
1,1.0,WORLD,900.0,-3.837069,-5.557223,-0.025089,2.947267
2,2.0,Developed regions,901.0,-5.983348,-7.277379,-5.323293,-2.087656
3,3.0,Developing regions,902.0,-2.332154,-4.561,0.285195,2.663652
4,4.0,Least developed countries,941.0,-7.531747,-4.541459,-4.187109,7.766031
5,5.0,Less developed regions excluding least develop...,934.0,0.632489,-4.319731,1.530456,1.571047

In [34]:
#melt
tAn = tAn.melt(id_vars=["Sort\norder", "Major area, region, country or area of destination", "Country code"],
                     var_name = ["YearrangewithAnnualRate"], value_name = 'Annual rate of change of the refugee stock')
tAn.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,YearrangewithAnnualRate,Annual rate of change of the refugee stock
0,1.0,WORLD,900.0,1995-200An,-3.837069
1,2.0,Developed regions,901.0,1995-200An,-5.983348
2,3.0,Developing regions,902.0,1995-200An,-2.332154
3,4.0,Least developed countries,941.0,1995-200An,-7.531747
4,5.0,Less developed regions excluding least develop...,934.0,1995-200An,0.632489

In [35]:
#Create new column :"year"
tAn1=(tAn.assign(YearRange = lambda x : x.YearrangewithAnnualRate.str[0:8].astype(str)))
tAn1= tAn1.drop('YearrangewithAnnualRate',axis=1)
tAn1.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,Annual rate of change of the refugee stock,YearRange
0,1.0,WORLD,900.0,-3.837069,1995-200
1,2.0,Developed regions,901.0,-5.983348,1995-200
2,3.0,Developing regions,902.0,-2.332154,1995-200
3,4.0,Least developed countries,941.0,-7.531747,1995-200
4,5.0,Less developed regions excluding least develop...,934.0,0.632489,1995-200

In [36]:
#put together and remove duplicate columns and reorder columns
df=[tEf2, tRe1, tAn1]
df2= pd.concat(df, axis=1)
df2 = df2.loc[:,~df2.columns.duplicated()]
df2 = df2.iloc[:,[0,1,2,3,6,4,5,7,8]]
df2.head()

,Sort\norder,"Major area, region, country or area of destination",Country code,Estimated refugee tock at mid-year(both sex),Refugees a percentage of the international migrant stock,Year,Gender,Annual rate of change of the refugee stock,YearRange
0,1.0,WORLD,900.0,18836571,12.346732,1990,both sex,-3.837069,1995-200
1,2.0,Developed regions,901.0,2014564,2.445494,1990,both sex,-5.983348,1995-200
2,3.0,Developing regions,902.0,16822007,23.968236,1990,both sex,-2.332154,1995-200
3,4.0,Least developed countries,941.0,5048391,45.56588,1990,both sex,-7.531747,1995-200
4,5.0,Less developed regions excluding least develop...,934.0,11773616,19.919743,1990,both sex,0.632489,1995-200

In [37]:
#put table 1-3 together , remove duplicate columns and reorder columns
df3=[tb1, tpop2, tper2]
df4= pd.concat(df3, axis=1)
df4 = df4.loc[:,~df4.columns.duplicated()]
df4 = df4.iloc[:,[0,1,2,3,6,7,4,5]]
df4.head(4000)

,Sort\norder,"Major area, region, country or area of destination",Country code,International migrant stock at mid-year,Total Population at mid-year(thousands),International migrant stock as a percentage of the total population,Year,Gender
0,1.0,WORLD,900.0,152563212,5309667.699,2.87331,1990,Both sex
1,2.0,Developed regions,901.0,82378628,1144463.062,7.198015,1990,Both sex
2,3.0,Developing regions,902.0,70184584,4165204.637,1.685021,1990,Both sex
3,4.0,Least developed countries,941.0,11075966,510057.629,2.171513,1990,Both sex
4,5.0,Less developed regions excluding least develop...,934.0,59105261,3655147.008,1.617042,1990,Both sex
...,...,...,...,...,...,...,...,...
3995,21.0,Rwanda,646.0,215770,4711.322,4.579819,2005,Female
3996,22.0,Seychelles,690.0,3177,44.404,7.154761,2005,Female
3997,23.0,Somalia,706.0,9623,4262.228,0.225774,2005,Female
3998,24.0,South Sudan,728.0,..,4058.628,..,2005,Female
3999,25.0,Uganda,800.0,330547,14071.891,2.348988,2005,Female