In [1]:
## Importing libraries
import pandas as pd
import numpy as np

In [2]:
## Creating lists for Sheet Number and KPIs in the excel sheet
Sheet_List = [1,2,3,4,5,6]
Value_List = ['International_Migrant_Stock_Value',
             'Total_Population_Value',
             'International_Migrant_Stock_Pcnt_Value',
             'Female_Migrant_Pnct_Value', 
             'Annual_Rate_Change_Migrant_Value']

In [3]:
## Creating loop
i = 1
DF_List = []
for i in Sheet_List:
    UN_Data = pd.read_excel("UN_MigrantStockTotal_2015.xlsx", sheet_name = i)
    # Subsetting for valid rows - removing first 12 rows 
    UN_Data_Temp = UN_Data.iloc[13:,].reset_index()
    # Replacing NaN values in the first row from the second row year value
    nan_index = UN_Data_Temp.loc[0,:].isnull()
    UN_Data_Temp.loc[0, nan_index] = UN_Data_Temp.loc[1, nan_index]
    # Creating list for columns in dataframe
    List_Columns = UN_Data_Temp.iloc[0,:].tolist()
    # Converting all list elements to string
    List_Columns = [str(i) for i in List_Columns]
    # Replacing '.0' with empty '' for data structuring 
    List_Columns= list(map(lambda x: x.replace('.0', ''), List_Columns))
    if (i <= 5):
        if((i==1)):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For both sexes
            List_Columns[6] = '1990_BS'
            List_Columns[7:12] = [i + '_BS' for i in List_Columns[7:12]]
            # For male
            List_Columns[12] = '1990_M'
            List_Columns[13:18] = [i + '_M' for i in List_Columns[13:18]]
            # For female
            List_Columns[18] = '1990_F'
            List_Columns[19:24] = [i + '_F' for i in List_Columns[19:24]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                         'Major area, region, country or area of destination',
                                         'Notes',
                                         'Country code',
                                         'Type of data (a)'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])
        elif(i==2):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For both sexes
            List_Columns[5] = '1990_BS'
            List_Columns[6:11] = [i + '_BS' for i in List_Columns[6:11]]
            # For male
            List_Columns[11] = '1990_M'
            List_Columns[12:17] = [i + '_M' for i in List_Columns[12:17]]
            # For female
            List_Columns[17] = '1990_F'
            List_Columns[18:23] = [i + '_F' for i in List_Columns[18:23]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                         'Major area, region, country or area of destination',
                                         'Notes',
                                         'Country code'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])
        elif((i==3)):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For both sexes
            List_Columns[6] = '1990_BS'
            List_Columns[7:12] = [i + '_BS' for i in List_Columns[7:12]]
            # For male
            List_Columns[12] = '1990_M'
            List_Columns[13:18] = [i + '_M' for i in List_Columns[13:18]]
            # For female
            List_Columns[18] = '1990_F'
            List_Columns[19:24] = [i + '_F' for i in List_Columns[19:24]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                         'Major area, region, country or area of destination',
                                         'Notes',
                                         'Country code',
                                         'Type of data (a)'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])
        elif(i==4):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For female
            List_Columns[6] = '1990_F'
            List_Columns[7:12] = [i + '_F' for i in List_Columns[7:12]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                                         'Major area, region, country or area of destination',
                                                         'Notes',
                                                         'Country code',
                                                         'Type of data (a)'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])

        elif(i==5):
            # Adding suffix to each section of international migrant stock information based on the sex information in the first
            # heading columns
            # For both sexes
            List_Columns[6] = '1990-2000_BS'
            List_Columns[7:11] = [i + '_BS' for i in List_Columns[7:11]]
            # For male
            List_Columns[11] = '1990-2000_M'
            List_Columns[12:17] = [i + '_M' for i in List_Columns[12:17]]
            # For female
            List_Columns[16] = '1990-2000_F'
            List_Columns[17:23] = [i + '_F' for i in List_Columns[17:23]]

            # Renaming the columns with the new column list 
            UN_Data_Temp.columns = List_Columns
            # Dropping first column and first and second row
            UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
            UN_Data_Temp = UN_Data_Temp.drop([0,1])

            UN_Data_Temp = UN_Data_Temp.melt(id_vars = ['Sort\norder',
                                                         'Major area, region, country or area of destination',
                                                         'Notes',
                                                         'Country code',
                                                         'Type of data (a)'], 
                             var_name = "Year_Sex_Var", value_name = Value_List[i-1])


         # Replacing .. values with NaN 
        UN_Data_Temp = UN_Data_Temp.replace('..' , 'NaN')
        # Adding two new columns 'Year' and 'Sex' for the combined variable Year_Sex_Var
        UN_Data_Temp[['Year','Sex']] = UN_Data_Temp.Year_Sex_Var.str.split('_', expand = True)
        # Dropping the combined variable
        UN_Data_Temp = UN_Data_Temp.drop(columns = ['Year_Sex_Var'])
        # Recoding the values of sexes
        UN_Data_Temp['Sex'] = UN_Data_Temp['Sex'].map({'BS': 'Both_Sexes', 'F': 'Female', 'M': 'Male'})
   

        DF_List.append(UN_Data_Temp)
    elif(i == 6):
        # Adding suffix to each section of international migrant stock information based on the sex information in the first
        # heading columns
        # For both sexes
        List_Columns[6] = '1990_BS'
        List_Columns[7:12] = [i + '_BS' for i in List_Columns[7:12]]
        # For male
        List_Columns[12] = '1990_R'
        List_Columns[13:18] = [i + '_R' for i in List_Columns[13:18]]
        # For female
        List_Columns[18] = '1990-1995_A'
        List_Columns[19:24] = [i + '_A' for i in List_Columns[19:24]]

         # Renaming the columns with the new column list 
        UN_Data_Temp.columns = List_Columns
        # Dropping first column and first and second row
        UN_Data_Temp = UN_Data_Temp.drop(columns = ['13'])
        UN_Data_Temp = UN_Data_Temp.drop([0,1])
        
        UN_Data_Temp = UN_Data_Temp.replace('..' , 'NaN')

        ## Splitting the DF into three DFs
        
        ### 1
        Data_6_1 = UN_Data_Temp.iloc[:,0:11]


        ## Melt Data
        Data_6_1 = Data_6_1.melt(id_vars = ['Sort\norder',
                                                     'Major area, region, country or area of destination',
                                                     'Notes',
                                                     'Country code',
                                                     'Type of data (a)'], 
                                       var_name = "Year_Sex_Var", value_name = "Estimated_Refugee_Stock_Value_Both_Sexes")

        # Adding two new columns 'Year' and 'Sex' for the combined variable Year_Sex_Var
        Data_6_1[['Year','Sex']] = Data_6_1.Year_Sex_Var.str.split('_', expand = True)
        # Dropping the combined variable
        Data_6_1 = Data_6_1.drop(columns = ['Year_Sex_Var'])
        Data_6_1['Sex'] = Data_6_1['Sex'].map({'BS': 'Both_Sexes'})


        ### 2 
        Data_6_2 = UN_Data_Temp.iloc[:,np.r_[0:5,11:17]]

        ## Melt Data
        Data_6_2 = Data_6_2.melt(id_vars = ['Sort\norder',
                                                     'Major area, region, country or area of destination',
                                                     'Notes',
                                                     'Country code',
                                                     'Type of data (a)'], 
                                       var_name = "Year_Sex_Var", value_name = "Refugee_Pnct_InternationalStock_Value_General")

        # Adding two new columns 'Year' and 'Sex' for the combined variable Year_Sex_Var
        Data_6_2[['Year','Sex']] = Data_6_2.Year_Sex_Var.str.split('_', expand = True)
        # Dropping the combined variable
        Data_6_2 = Data_6_2.drop(columns = ['Year_Sex_Var', 'Sex'])

        #### 3
        Data_6_3 = UN_Data_Temp.iloc[:,np.r_[0:5,17:22]]
        Data_6_3

        ## Melt Data
        Data_6_3 = Data_6_3.melt(id_vars = ['Sort\norder',
                                                     'Major area, region, country or area of destination',
                                                     'Notes',
                                                     'Country code',
                                                     'Type of data (a)'], 
                                       var_name = "Year_Sex_Var", value_name = "Annual_RateChange_Refugee_Value_General")

        # Adding two new columns 'Year' and 'Sex' for the combined variable Year_Sex_Var
        Data_6_3[['Year','Sex']] = Data_6_3.Year_Sex_Var.str.split('_', expand = True)
        # Dropping the combined variable
        Data_6_3 = Data_6_3.drop(columns = ['Year_Sex_Var', 'Sex'])

        # Creating list of three dfs
        DF_Table_6 = [Data_6_1, Data_6_2, Data_6_3]

In [4]:
## Reading the dfs for the first four dataframes

DF_List_1_4 = DF_List[0:4]

import functools as ft
DF_Final = ft.reduce(lambda left, right: pd.merge(left, right, on=['Sort\norder',
       'Major area, region, country or area of destination', 'Notes',
       'Country code', 'Year', 'Sex'], how = "outer"), DF_List_1_4)

In [5]:
## Checking if type of data variable is same
DF_Final['Type of data (a)_x'].equals(DF_Final['Type of data (a)_y'])

True

In [6]:
## Dropping column
DF_Final = DF_Final.drop(columns = ['Type of data (a)_x'])
# Renaming 
DF_Final = DF_Final.rename(columns = {'Type of data (a)_y' : 'Type of data (a)_G', # For general variables
                                        'Type of data (a)' : 'Type of data (a)_FM'}) # For the female migrant table 
# Renaming back to original
DF_Final = DF_Final.rename(columns = {'Type of data (a)_G' : 'Type of data (a)'})

# Listing all column headings
cols = DF_Final.columns.tolist()

In [7]:
cols

['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'International_Migrant_Stock_Value',
 'Year',
 'Sex',
 'Total_Population_Value',
 'Type of data (a)',
 'International_Migrant_Stock_Pcnt_Value',
 'Type of data (a)_FM',
 'Female_Migrant_Pnct_Value']

In [8]:
## Renaming column names to reorder Year and Sex
cols = ['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'Year',
 'Sex',
 'Type of data (a)',
 'International_Migrant_Stock_Value',
 'Total_Population_Value',
 'International_Migrant_Stock_Pcnt_Value',
 'Type of data (a)_FM',
 'Female_Migrant_Pnct_Value']

In [9]:
# Renaming columns
DF_Final = DF_Final[cols]

In [10]:
## Merging DF with the table 6 data that matches the year headings
Data_Temp_1 = pd.merge(DF_Final, DF_Table_6[0], on = ['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'Year',
 'Sex', 'Type of data (a)'], how = "outer")

In [11]:
## Merging DF with the table 6 data that matches the year headings
Data_Temp_New_1 = pd.merge(Data_Temp_1, DF_Table_6[1], on = ['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'Year', 'Type of data (a)'], how = "outer")

In [12]:
## Merging DF with the table 6 data that matches the year headings based on year bins
Data_Temp_2 = pd.merge(DF_List[4], DF_Table_6[2], on = ['Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Country code',
 'Year', 'Type of data (a)'])

In [13]:
## Adding Annex info 
Annex_Data = pd.read_excel("UN_MigrantStockTotal_2015.xlsx", sheet_name = 'ANNEX')
Annex_Data.head(15)

## Subsetting the data 
Annex_Data = Annex_Data.iloc[13:,].reset_index()
Annex_Data.head(15)

# Pushing first row as column headers
Annex_Data.columns = Annex_Data.iloc[0]
Annex_Data = Annex_Data.drop([0])
Annex_Data = Annex_Data.drop(columns = [13])
# mapping = {Annex_Data.columns[2]: 'Sort_Order_Country'}
Annex_Data = Annex_Data.rename(columns = {Annex_Data.columns[2]: 'Sort_Order_Country'})

In [14]:
## First frame
# Merging with annex
Data_Final_1 = pd.merge(Annex_Data, Data_Temp_New_1, 
                     on = ['Country code'])

In [15]:
Data_Final_1.head(15)

,Country code,Country or area,Sort_Order_Country,Major area,Code,Sort_Order_Country,Region,Code,Sort_Order_Country,Developed region,...,Year,Sex,Type of data (a),International_Migrant_Stock_Value,Total_Population_Value,International_Migrant_Stock_Pcnt_Value,Type of data (a)_FM,Female_Migrant_Pnct_Value,Estimated_Refugee_Stock_Value_Both_Sexes,Refugee_Pnct_InternationalStock_Value_General
0,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,1990,Both_Sexes,B,57686,12067.57,0.478025,NaN,NaN,25,0.043338
1,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,1990,Male,B,32558,6179.834,0.526843,NaN,NaN,NaN,0.043338
2,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,1990,Female,B,25128,5887.736,0.426785,B,43.559963,NaN,0.043338
3,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,1995,Both_Sexes,B,71522,16772.522,0.426424,NaN,NaN,19605,27.411146
4,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,1995,Male,B,39105,8682.442,0.450392,NaN,NaN,NaN,27.411146
5,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,1995,Female,B,32417,8090.08,0.400701,B,45.324516,NaN,27.411146
6,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,2000,Both_Sexes,B,75917,19701.94,0.385328,NaN,NaN,0,0
7,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,2000,Male,B,42848,10146.537,0.422292,NaN,NaN,NaN,0
8,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,2000,Female,B,33069,9555.403,0.346076,B,43.559414,NaN,0
9,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,2005,Both_Sexes,B,87300,24399.948,0.357788,NaN,NaN,32,0.036655
10,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,2005,Male,B,49274,12616.326,0.390557,NaN,NaN,NaN,0.036655
11,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,2005,Female,B,38026,11783.622,0.322702,B,43.557847,NaN,0.036655
12,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,2010,Both_Sexes,B,102246.0,27962.207,0.365658,NaN,NaN,6434.0,6.292667
13,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,2010,Male,B,57709.0,14367.633,0.40166,NaN,NaN,NaN,6.292667
14,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,...,2010,Female,B,44537.0,13594.574,0.327609,B,43.558672,NaN,6.292667

In [16]:
## Second frame
# Merging with annex
Data_Final_2 = pd.merge(Annex_Data, Data_Temp_2, 
                     on = ['Country code'])

In [17]:
Data_Final_2.head(15)

,Country code,Country or area,Sort_Order_Country,Major area,Code,Sort_Order_Country,Region,Code,Sort_Order_Country,Developed region,Least developed country,Sub-Saharan Africa,Sort\norder,"Major area, region, country or area of destination",Notes,Type of data (a),Annual_Rate_Change_Migrant_Value,Year,Sex,Annual_RateChange_Refugee_Value_General
0,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,1.192711,1995-2000,Both_Sexes,NaN
1,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,1.828173,1995-2000,Male,NaN
2,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,0.398266,1995-2000,Female,NaN
3,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,2.794196,2000-2005,Both_Sexes,NaN
4,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,2.794752,2000-2005,Male,NaN
5,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,2.793477,2000-2005,Female,NaN
6,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,3.160624,2005-2010,Both_Sexes,102.911692
7,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,3.160332,2005-2010,Male,102.911692
8,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,3.161003,2005-2010,Female,102.911692
9,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,26.37988,2010-2015,Both_Sexes,50.501739
10,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,24.191602,2010-2015,Male,50.501739
11,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,99,Afghanistan,NaN,B,28.900067,2010-2015,Female,50.501739
12,8,Albania,154,Europe,908,127,Southern Europe,925,153,Yes,No,No,154,Albania,NaN,B,1.443662,1995-2000,Both_Sexes,-45.253018
13,8,Albania,154,Europe,908,127,Southern Europe,925,153,Yes,No,No,154,Albania,NaN,B,1.563286,1995-2000,Male,-45.253018
14,8,Albania,154,Europe,908,127,Southern Europe,925,153,Yes,No,No,154,Albania,NaN,B,1.338487,1995-2000,Female,-45.253018